<div id="skill-1" class="skill hidden">
	<div class="skill__image skill__image_1"></div>
	<div class="skill__side">
		<div class="skill__plate skill__plate_1"></div>
		<div class="skill__content">
			<div class="skill__title">Обеспечиваем запуск новых моделей</div>
			<div class="skill__text">
				Автомобильная журналистика — наша профессия и мы знаем, какой PR действительно работает.
				<br><br>
				Мы готовы предложить комплексное PR обслуживание брендов с выделенной командой экспертов, актуальным подходом и гарантированным результатом.
				<br><br>
				Помимо брендов группы Соллерс, мы являемся российским пресс-офисом второго по величине производителя автомобилей в Европе — PSA Peugeot Citroën.
				<br><br>
				В настоящий момент мы заняты информационной подготовкой возвращения на российский рынок бренда Opel.
			</div>
		</div>
	</div>
</div>