<div id="skill-10" class="skill hidden">
  <div class="skill__image skill__image_10"></div>
  <div class="skill__side">
    <div class="skill__plate skill__plate_10"></div>
    <div class="skill__content">
      <div class="skill__title">Умеем вызывать эмоции и создавать впечатления</div>
      <div class="skill__text">
        Автомобиль это всегда про эмоции.
        <br><br>
        Мы умеем работать со сложными автомобильными форматами для того чтобы эту эмоцию вызвать.
        <br><br>
        Семейные тест-драйвы и профессиональные экспедиции, спортивные соревнования и школы мастерства.
        <br><br>
        Мы делали роад-шоу федерального масштаба и закрытые тест-драйвы для первых лиц.
        <br><br>
        Более 8 500 человек участвовали в наших проектах за прошедший год.
      </div>
    </div>
  </div>
</div>