<div id="skill-11" class="skill hidden">
  <div class="skill__image skill__image_11"></div>
  <div class="skill__side">
    <div class="skill__plate skill__plate_11"></div>
    <div class="skill__content">
      <div class="skill__title">Открываем Россию для экспертов</div>
      <div class="skill__text">
        Автомобильных журналистов трудно удивить, но мы все-таки делаем это.
        <br><br>
        Мы открываем знакомые места с новой стороны, создаем максимально удобные условия для работы и не забываем про
        дух романтики, авантюризма и настоящих автомобильных приключений.
        <br><br>
        В наши пресс-туры не надо два раза приглашать и переживать за объективность отчетных публикаций.
      </div>
    </div>
  </div>
</div>