<div id="skill-12" class="skill hidden">
  <div class="skill__image skill__image_12 video">
    <div class="video-id" id="video-two-legends-skill" data-id="J8-mXJlyiKs"></div>
    <video class="skill__video">assets/img/projects/two-legends/preroll.mp4</video>
  </div>
  <div class="area play w50 skill__play"></div>
  <div class="area close w100 hidden"></div>
  <div class="skill__side">
    <div class="skill__plate skill__plate_12"></div>
    <div class="skill__content">
      <div class="skill__title">Снимаем крутую автомобильную рекламу</div>
      <div class="skill__text">
        Мы создали для УАЗа имиджевый ролик, который вдохновил пользователей искать свои места силы и рассказывать о
        них. Мы пригласили Костю Цзю — одного из самых знаменитых в мире боксеров, путь которого начался именно в
        России. Россия — его место силы, место, где начался его путь и куда он вернулся.
        <br><br>
        Кампания #моеместосилы заявила о новой коммуникационной платформе бренда УАЗ — «Две легенды. Один характер».
        <br><br>
        Более 6 000 000 просмотров видео.
      </div>
    </div>
  </div>
</div>