<div id="skill-13" class="skill hidden">
  <div class="skill__image skill__image_13">
    <video class="skill__video">assets/img/skills/13.mp4</video>
  </div>
  <div class="skill__side">
    <div class="skill__plate skill__plate_13"></div>
    <div class="skill__content">
      <div class="skill__title">Устраиваем из выставок настоящее шоу</div>
      <div class="skill__text">
        Автомобильные выставки не самый интересный формат, а что уж говорить про выставки коммерческого транспорта.
        <br><br>
        Мы умеем создавать целостные и продуманные выставочные пространства, соблюдая баланс информативности и
        развлекательности.
        <br><br>
        У нас есть опыт участия в больших индустриальных форумах и в локальных региональных событиях.
      </div>
    </div>
  </div>
</div>