<div id="skill-14" class="skill hidden">
  <div class="skill__image skill__image_14 video">
    <div class="video-id" id="video-wargaming-skill" data-id="LJWTnZNRIkA"></div>
    <video class="skill__video">assets/img/projects/wargaming/preroll.mp4</video>
  </div>
  <div class="area play w50 skill__play"></div>
  <div class="area close w100 hidden"></div>
  <div class="skill__side">
    <div class="skill__plate skill__plate_14"></div>
    <div class="skill__content">
      <div class="skill__title">Умеем дружить и&nbsp;делать партнерства</div>
      <div class="skill__text">
        Мы сделали невозможное. Мы выпустили специальную версию автомобиля УАЗ Патриот для фанатов игры World of Tanks.
        <br><br>
        Наше партнерство с Wargaming наделало много шума. Мы сделали совместную презентацию, поучаствовали в игровом
        фестивале, наградили первым автомобилем победителей конкурса и главное, собрали более 500 заявок на спецверсию
        на две недели.
      </div>
    </div>
  </div>
</div>