<div id="skill-2" class="skill hidden">
	<div class="skill__image skill__image_2"></div>
	<div class="skill__side">
		<div class="skill__plate skill__plate_2"></div>
		<div class="skill__content">
			<div class="skill__title">Строим собственные медиа для брендов</div>
			<div class="skill__text">
				Мы не просто ведем странички бренда в социальных сетях. Мы верим в новые медиа и считаем, что бренды должны
				уметь разговаривать с аудиторией напрямую.
				<br><br>
				Мы научились трансформировать многочисленные каналы коммуникации в единую систему производства и дистрибуции
				контента.
				<br><br>
				Мы за год увеличили аудиторию собственных медиа УАЗ на 140%, а показатели вовлеченности почти вдвое.
				<br><br>
				А еще неоднократно получали призы и попадали в рейтинги как самые креативные корпоративные медиа.
			</div>
		</div>
	</div>
</div>