<div id="skill-3" class="skill hidden">
  <div class="skill__image skill__image_3"></div>
  <div class="skill__side">
    <div class="skill__plate skill__plate_3"></div>
    <div class="skill__content">
      <div class="skill__title">Создаем неожиданные инфоповоды</div>
      <div class="skill__text">
        Как продать автомобиль за криптовалюту и посадить Папу Римского на УАЗ?
        <br><br>
        Мы выходим за рамки традиционных медиа и умеем находить актуальные темы.
        <br><br>
        Инфоповоды, не нуждающиеся в пресс-релизах и провоцирующие вирусный эффект.
      </div>
    </div>
  </div>
</div>