<div id="skill-4" class="skill hidden">
  <div class="skill__image skill__image_4">
    <video class="skill__video">assets/img/skills/4.mp4</video>
  </div>
  <div class="skill__side">
    <div class="skill__plate skill__plate_4"></div>
    <div class="skill__content">
      <div class="skill__title">Делаем презентации в&nbsp;прямом эфире</div>
      <div class="skill__text">
        Мы переосмыслили формат автомобильных презентаций и организовали прямую трансляцию сборки обновленного УАЗ
        Патриот прямо с конвейера завода.
        <br><br>
        Рискованный шаг принес успех и мы получили шквал вопросов, комментариев, взаимодействий и более двух сотен
        публикаций в СМИ.
        <br><br>
        Как результат, более 500 000 просмотров двухчасового эфира с завода.
      </div>
    </div>
  </div>
</div>