<div id="skill-5" class="skill hidden">
  <div class="skill__image skill__image_5"></div>
  <div class="skill__side">
    <div class="skill__plate skill__plate_5"></div>
    <div class="skill__content">
      <div class="skill__title">Обеспечиваем запуск новых моделей</div>
      <div class="skill__text">
        Мы любим большие и системные проекты.
        <br><br>
        От большой идеи до брошюры в дилерском центре.
        <br><br>
        Мы обеспечили запуск новой модели УАЗ Профи и перезапуск всего направления коммерческого транспорта.
        <br><br>
        Придумали убедительное позиционирование, разработали дизайн-систему для всех носителей, провели успешную
        кампанию лонча и обеспечили запуск профессиональным PR-сопровождением.
        <br><br>
        Уже через год бренд стал вторыми по доле рынка и продолжает набирать обороты.
      </div>
    </div>
  </div>
</div>