<div id="skill-6" class="skill hidden">
  <div class="skill__image skill__image_6"></div>
  <div class="skill__side">
    <div class="skill__plate skill__plate_6"></div>
    <div class="skill__content">
      <div class="skill__title">Умеем делать дизайн с&nbsp;душой</div>
      <div class="skill__text">
        Мы радуемся когда можно сделать проект с душой и для души.
        <br><br>
        60-летие легендарной уазовской Буханки вдохновило нас на создание особого дизайна всех мероприятий, посвященных
        юбилею.
        <br><br>
        Мы гордимся большой идеей проекта и творческим переосмыслением исторического контекста и богатой мифологии
        бренда.
        <br><br>
        В итоге, дизайн, созданный для юбилея, лег в основу концепции музея УАЗ и активно используется в коммуникациях
        бренда.
      </div>
    </div>
  </div>
</div>