<div id="skill-7" class="skill hidden">
  <div class="skill__image skill__image_7"></div>
  <div class="skill__side">
    <div class="skill__plate skill__plate_7"></div>
    <div class="skill__content">
      <div class="skill__title">Дружим с автомобильными блогерами</div>
      <div class="skill__text">
        Мы часть автомобильного Youtube-сообщества и знаем, как делать классные интеграции для брендов.
        <br><br>
        Мы не ждем запросов и внимания от авторов каналов и блоггеров. Мы сами придумываем идеи и подбираем релевантные
        бренду проекты, шоу и каналы.
        <br><br>
        Мы умеем работать и со звездами Youtube, и c нишевыми авторами уникального контента.
        <br><br>
        Более 20 000 000 просмотров наших автомобильных интеграций только за последний год.
      </div>
    </div>
  </div>
</div>