<div id="skill-8" class="skill hidden">
  <div class="skill__image skill__image_8">
    <video class="skill__video">assets/img/skills/8.mp4</video>
  </div>
  <!-- <div class="skill__link"></div> -->
  <div class="skill__side">
    <div class="skill__plate skill__plate_8"></div>
    <div class="skill__content">
      <div class="skill__title">Создаем контент платформы</div>
      <div class="skill__text">
        Мы верим в силу контента и умеем строить большие контент платформы.
        <br><br>
        От HERO ролика для телевизионной рекламы до HELP видео с техническими характеристиками подвески.
        <br><br>
        Каждый формат видео решает свою задачу, все вместе — контент платформа, создающая кумулятивный и продолжительный
        эффект коммуникации.
        <br><br>
        Мы умеем выжимать из одной съемки максимум единиц и форматов контента.
      </div>
    </div>
  </div>
</div>