<div id="skill-9" class="skill hidden">
  <div class="skill__image skill__image_9">
    <video class="skill__video">assets/img/skills/9.mp4</video>
  </div>
  <div class="skill__side">
    <div class="skill__plate skill__plate_9"></div>
    <div class="skill__content">
      <div class="skill__title">Превращаем клиентов в&nbsp;амбассадоров</div>
      <div class="skill__text">
        Кто лучше расскажет про продукт, как не его владелец? Мы верим именно в такую рекламу — честную, авторскую и
        нативную.
        <br><br>
        Профи рекомендуют Профи. Такую кампанию мы сделали для УАЗ, отыскав и смонтировав более 60 единиц контента из
        пользовательских видео.
        <br><br>
        Минимальные затраты на продакшн и показатели досмотра видео выше среднего.
        <br><br>
        Кампания демонстрирует достойные медийные результаты и продолжается до сих пор.
      </div>
    </div>
  </div>
</div>