.brand-platform {

  &__page-1 {
    @include ifmobile {
      width: 100%;
      background-image: url(../img/projects/brand-platform/p1-m.jpg);
      background-position: center top;
      background-size: 100%;
    }
  }

  &__page-2 {
    @include ifmobile {
      .brand-platform__28percent {
        display: none;
      }
      .play {
        display: none;
      }
    }
  }

  &__page-2-m {
    display: none;
    @include ifmobile {
      display: block;
      left: 200% !important;
    }
  }

  &__page-3 {
    left: 200% !important;
    @include ifmobile {
      left: 300% !important;
    }
  }

  &__page-4 {
    left: 300% !important;
    @include ifmobile {
      left: 400% !important;
      background-position: center top;
      background-size: 100%;
    }
  }

  &__side-1 {
    width: 30%;

    &::after {
      transform: skew(-8deg);
      @include ifmobile {
        transform: skew(0, 7deg);
      }
    }
    @include ifmobile {
      width: 100%;
    }
  }

  &__side-2 {
    width: 40%;

    &::after {
      transform: skew(34deg);
      left: -40%;
      width: 140%;
      background-image: url(../img/projects/brand-platform/plants.jpg);
      background-repeat: no-repeat;
      background-position: left bottom;
      background-size: em(454px) em(389px);
    }

    @include ifmobile {
      width: 100%;
      height: 100%;

      &::after {
        background-size: 100%;
      }
      
      .side__info {
        margin-top: 40%;
      }
    }
  }

  &__side-3 {
    width: 33%;

    &::after {
      transform: skew(-15deg);
    }
  }

  &__side-4 {
    width: 33%;

    @include ifmobile {
      width: 100%;
    }

    &::after {
      transform: skew(-15deg);

      @include ifmobile {
        transform: skew(0, 7deg);
      }
    }
  }

  &__reels {
    position: absolute;
    width: em(1140px);
    height: em(668px);
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

    @include ifmobile {
      top: em(-30px);
      transform: translate(-50%,0);
      width: em(320px);
      height: em(500px);
    }
  }

  &__reel-1 {
    position: absolute;
  	width: em(540px);
    top: em(364px);
    left: 0;

    @include ifmobile {
      width: em(320px);
      top: em(168px);
    }
  }

  &__reel-2 {
    position: absolute;
    width: em(540px);
    top: 0;
    left: em(600px);

    @include ifmobile {
      top: em(60px);
      left: em(100px);
      width: em(175px);
    }
  }

  &__reel-3 {
    position: absolute;
    width: em(390px);
    top: em(364px);
    left: em(600px);

    @include ifmobile {
      top: em(360px);
      left: auto;
      right: 0;
      width: em(175px);
    }
  }

  &__28percent {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20%;
    @extend %percent28;

    @include ifmobile {
      right: auto;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &__levelup {
    position: absolute;
    left: 0;
    top: em(156px);
    @extend %levelup;

    @include ifmobile {
      top: em(380px);
    }
  }

  .project__numbers {
    @include ifmobile {
      display: none;
    }
  }
}