.btl {
  &__page-1 {
    background-image: url(../img/projects/btl/p1.jpg);
    @include ifmobile {
      width: 100%;
      background-image: url(../img/projects/btl/p1-m.jpg);
      background-position: center top;
      background-size: 100%;
    }
  }
   &__page-3 {
    @include ifmobile {
      background-size: contain;
      background-color: $color-green;
      &::after {
        display: none !important;
      }
    }
  }

  &__side-1 {
    width: 30%;

    @include ifmobile {
      width: 100%;
    }

    &::after {
      transform: skew(-7deg);

      @include ifmobile {
        transform: skew(0, 4deg);
      }
    }
  }

  &__side-2 {
    width: 40%;

    &::after {
      transform: skew(-15deg);
    }

    @include ifmobile {
      width: 100%;
      height: 100%;

      &::after {
        transform: skew(0);
      }
    }
  }

  &__side-info-2 {
    margin-top: em(300px);
    @include ifmobile {
      margin-top: 30%;
    }
  }

  &__8 {
    font-size: em(140px);
    position: absolute;
    top: 50%;
    right: 30%;
    transform: translateY(-50%);
    font-weight: 600;
    color: $color-white;
  }
}