.influence-marketing {

  &__page-1 {
    @include ifmobile {
      width: 100%;
      background-image: url(../img/projects/influence-marketing/p1-m.jpg);
      background-position: center top;
      background-size: 100%;
    }
  }

  &__page-2 {
    @include ifmobile {
      .play {
        display: none !important;
      }
    }
  }

  &__page-4 {
    @include ifmobile {
      background-position: center top;
      background-size: 100%;
    }
  }

  &__side-1 {
    width: 33%;

    &::after {
      transform: skew(-10deg);

      @include ifmobile {
        transform: skew(0, -3deg);
      }
    }

    @include ifmobile {
      width: 100%;
    }
  }

  &__side-2 {
    width: 40%;

    &::after {
      transform: skew(10deg);
    }

    @include ifmobile {
      width: 100%;
      height: 100%;

      &::after {
        transform: skew(0);
      }
    }
  }

  &__side-4 {
    width: 33%;
    margin-bottom: em(-20px);

    &::after {
      transform: skew(15deg);
      @include ifmobile {
        transform: skew(0, -5deg);
      }
    }

    @include ifmobile {
      width: 100%;
    }
  }

  &__side-info-2 {
    margin-top: em(260px);
    @include ifmobile {
      width: em(300px);
      margin-top: em(80px);
    }
  }

  &__like {
    position: absolute;
    @extend %like;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);

    @include ifmobile {
      font-size: em(10px);
      left: 50%;
      top: 26%;
    }
  }
}