.page {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  transition: transform 1s;

  background-color: $color-dark;
  @extend %background-cover;

  &:nth-child(2) {
    left: 100%;
  }

  &:nth-child(3) {
    left: 200%;
  }

  &:nth-child(4) {
    left: 300%;
  }

  &:nth-child(5) {
    left: 400%;
  }

  &:nth-child(6) {
    left: 500%;
  }
}