.project {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transition-property: transform, opacity;

  &.active {
    z-index: 5;
  }

  &.up {
    transform: translateY(-100%) !important;
    transition-duration: 0s;
  }

  &.down {
    transform: translateY(100%) !important;
    transition-duration: 0s;
  }

/*   @include ifmobile {
    position: fixed;
    top: 0;
    transition: transform .5s, visibility .5s, opacity .5s;
  } */

  @include ifdesktop {
    transition-duration: 1s;
  }

  @include ifmobile {
    transition-duration: 0.5s;
    .page:first-child::after,
    .page:last-child::after {
      $size: 26px;
      content: '→';
      display: block;
      position: absolute;
      right: em(30px, $size);
      bottom: em(30px, $size);
      padding: em(10px, $size);
      color: $color-white;
      z-index: 6;
    }
  }

  &.hidden {
    display: none;
  }

  &.cur-fix {
    .area {
      display: none;
    }
/* 
    .play {
      @include ifmobile {
        display: none;
      }
    } */
  }

  &__numbers {
    $size: 22px;
    font-size: em($size);
    position: absolute;
    right: em(40px, $size);
    bottom: em(50px, $size);
    color: $color-white;
    z-index: 6;

    @include ifparent('.playback') {
      display: none;
    }

    &_m {
      display: none;

      @include ifmobile {
        display: block !important;
      }
    }

    &_last {
      right: 40%;

      @include ifmobile {
        bottom: 50% !important;
      }
    }

    @include ifmobile {
      right: em(20px, $size);
      bottom: em(10px, $size);
    }

    @include ifparent('.light') {
      color: $color-black;
    }

    @include ifparent('.red') {
      color: red;
    }

    &_white {
      color: $color-white !important;
    }
  }

  &__b {
    position: absolute;
    display: block;
    height: 100%;
    top: 0;
    z-index: 8;

    @include ifmobile {
      @include ifparent('.playback') {
        display: none;
      }
    }

    &_right {
      right: 0;
      cursor: url(../cur/right.cur), auto;
      cursor: url(../svg/right.svg) 40 28, auto;
    }

    &_left {
      left: 0;
      cursor: url(../cur/left.cur), auto;
      cursor: url(../svg/left.svg) 40 28, auto;
    }

    &_bottom {
      right: 0;
      cursor: url(../cur/bottom.cur), auto;
      cursor: url(../svg/bottom.svg) 27 30, auto;
    }

    &_play {
      width: 100%;
      cursor: url(../cur/play.cur), auto;
      cursor: url(../svg/play.svg) 24 30, auto;

      @include ifmobile {
        cursor: url(../cur/play.cur), auto;
        background-image: url(../svg/play.svg);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: em(40px);
        height: 50%;
      }
    }

    &_close {
      width: 100%;
      cursor: url(../cur/close.cur), auto;
      cursor: url(../svg/close.svg) 25 25, auto;

      &.hidden {
        display: none;
      }

      @include ifmobile {
        /* z-index: 22;
        background-repeat: no-repeat;
        background-position: 94.4% em(25px);
        background-size: em(20px) em(20px);
        background-image: url(../svg/close.svg); */
        display: none;
      }
    }

    &_100 {
      width: 100%;
    }

    &_50 {
      width: 50%;
    }

    &_33 {
      width: 33%;
    }
  }
}