.strategy {

  $color-grey: #696d76;

  &__page-1 {
    background-image: url(../img/projects/strategy/p1.jpg);
    @include ifmobile {
      width: 100%;
      background-image: url(../img/projects/strategy/p1-m.jpg);
      background-position: center top;
      background-size: 100%;
    }
  }

  &__page-2 {
    background-color: $color-grey;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: right top;
  }

  &__page-2-m {
    display: none;
    @include ifmobile {
      display: block;
      background-color: $color-grey;
      background-size: em(1000px);
      background-position: em(-380px) top;
      left: 200% !important;
    }
  }

  &__page-3 {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center bottom;
    background-color: $color-grey;
    left: 200% !important;
    @include ifmobile {
      left: 300% !important;
      background-size: cover;
      .strategy__o82, .strategy__window-2 {
        display: none;
      }
    }
  }

  &__page-4 {
    left: 300% !important;
    @include ifmobile {
      left: 400% !important;
      background-position: center top;
      background-size: 100%;
    }
  }




  &__side-1 {
    width: 33%;
  
    @include ifmobile {
      width: 100%;
    }

    &::after {
      transform: skew(-18deg);
      @include ifmobile {
        transform: skew(0, -4deg);
      }
    }
  }

  &__side-2 {
    width: 46%;
    left: -10%;

    &::after {
      width: 110%;
      transform: skew(14deg);
      background-image: url(../img/projects/strategy/snow.jpg);
      background-repeat: no-repeat;
      background-position: left bottom;
      background-size: 100%;
    }

    @include ifmobile {
      width: 100%;
      height: 100%;

      &::after {
        transform: skew(0);
      }
    }
  }

  &__side-3 {
    width: 40%;
    
    &::after {
      transform: skew(-30deg);
    }
  }

  &__side-4 {
    width: 33%;

    @include ifmobile {
      width: 100%;
      height: 45%;
    }
    
    &::after {
      transform: skew(-7deg);
      @include ifmobile {
        transform: skew(0, 7deg);
      }
    }
  }

  &__side-info-2 {
    margin-top: em(300px);
    margin-left: em(300px);

    @include ifmobile {
      margin-top: 28%;
      margin-left: em(90px);
    }
  }


  &__pic-2 {
    position: absolute;
    @extend %background-contain;
    width: em(962px);
    height: em(450px);
    top: 0;
    right: 0;
  }

  &__250members {
    position: absolute;
    bottom: em(100px);
    right: 16%;
    @extend %members250;

    @include ifmobile {
      font-size: em(12px);
      right: auto;
      left: 50%;
      bottom: auto;
      top: 50%;
      transform: translate(-50%, 50%);
    }
  }

  .project__numbers {
    @include ifmobile {
      display: none;
    }
  }
}