.two-legends {

  &__page-1 {
    @include ifmobile {
      width: 100%;
      background-image: url(../img/projects/two-legends/p1-m.jpg);
      background-position: center top;
      background-size: 100%;
    }
  }

  &__page-2 {
    background-size: auto 100%;
    background-position: right center;
    background-color: #004c3f;
  }

  &__page-2-m {
    display: none;

    @include ifmobile {
      display: block;
      left: 200% !important;
    }
  }

  &__page-3 {
    left: 200% !important;

    @include ifmobile {
      left: 300% !important;
    }
  }

  &__image-4 {
    @include ifdesktop {
      display: none;
    }
    @include ifmobile {
      position: absolute;
      width: 100%;
      height: 45%;
      bottom: 0;
      left: 0;
      background-repeat: no-repeat;
      background-size: 100%;
      background-position: left top;
      background-image: url('../img/projects/two-legends/p1-m.jpg');
    }
  }

  &__page-4 {
    left: 300% !important;

    @include ifmobile {
      left: 400% !important;

      .play {
        top: auto;
        bottom: 0;
      }
    }

    background-position: center bottom;
    background-size: 100%;
  }

  &__page-5 {
    left: 400% !important;

    @include ifmobile {
      left: 500% !important;
      background-position: center em(-60px);
      background-size: 100%;
      background-color: #830103;
    }
  }

  &__side-1 {
    width: 33%;
    right: 0;

    &::after {
      width: 140%;
      right: -40%;
      transform: skew(-20deg);

      @include ifmobile {
        transform: skew(0, 5deg);
      }
    }

    @include ifmobile {
      width: 100%;
      height: 55%;
    }
  }

  &__side-2 {
    width: 50%;
    left: 0;

    &::after {
      transform: skew(145deg);
      background-repeat: no-repeat;
      background-position: right bottom;
      background-size: 100% auto;
      background-image: url(../img/projects/two-legends/rock.jpg);
    }

    @include ifmobile {
      width: 100%;
      height: 100%;

      &::after {
        transform: skew(0);
      }

      .side__info {
        margin-top: em(140px);
      }
    }
  }

  &__side-4 {
    width: 24%;
    left: 0;

    @include ifmobile {
      width: 100%;
      height: 66%;
      top: -10%;
    }

    &::before {
      width: 80%;
      height: 50%;

      @include ifmobile {
        display: none;
      }
    }

    &::after {
      transform: skew(155deg);

      @include ifmobile {
        transform: skew(0, 2deg);
      }
    }

    &::before,
    &::after {
      background-color: #831A21;
    }
  }

  &__side-5 {
    @include ifmobile {
      width: 100%;
      height: 50%;
    }

    &::after {
      @include ifmobile {
        transform: skew(0, 6deg);
      }
    }
  }

  &__side-info-2 {
    margin-top: em(260px);

    @include ifmobile {
      margin-top: em(100px) !important;
    }
  }

  &__1-5mln {
    position: absolute;
    @extend %mln1-5;
    top: em(200px);
    left: 36%;

    @include ifmobile {
      top: 26%;
      left: 50%;
      transform: translateX(-50%);
      font-size: em(13px);
    }
  }

  .project__numbers {
    @include ifmobile {
      display: none;
    }
  }
}