.uaz-profi {

  &__page-1 {
    background-image: url(../img/projects/uaz-profi/p1.jpg);
    @include ifmobile {
      background-image: url(../img/projects/uaz-profi/p1-m.jpg);
      background-position: center top;
      background-size: contain;
    }
  }

  &__side-1 {
    width: 36%;

    @include ifmobile {
      width: 100%;
    }

    &::after {
      transform: skew(5deg);

      @include ifmobile {
        transform: skew(0, -5deg);
      }
    }
  }

  &__side-2 {
    width: 38%;

    @include ifmobile {
      height: 100%;
    }

    &::after {
      transform: skew(-5deg);
    }

    @include ifmobile {
      width: 100%;
      &::after {
        transform: skew(0);
      }
    }
  }

  &__side-3 {
    width: 33%;

    &::after {
      transform: skew(-5deg);
    }
  }

  &__side-6 {
    width: 33%;
    @include ifmobile {
      width: 100%;
      height: 40%;
    }
    &::after {
      transform: skew(-5deg);
      @include ifmobile {
        transform: skew(0, 10deg);
      }
    }
  }

  &__side-info-2 {
    margin-top: em(440px);
    @include ifmobile {
      margin-top: 20vh;
    }
  }

  &__cubes {
    position: absolute;
    width: em(390px);
    height: em(315px);
    top: em(80px);
    left: 50%;
    margin-left: em(-195px);
    z-index: 2;
    @extend %background-contain;

    @include ifmobile {
      width: em(200px);
      height: em(120px);
      margin-left: em(-60px);
      top: em(20px);
    }
  }

  &__x20 {
    position: absolute;
    @extend %x20;
    right: 15%;
    bottom: 10%;
  }

  &__sales-lead {
    position: absolute;
    @extend %sales-lead;
    @include ifdesktop {
      bottom: 0;
      right: 10%;
    }
    @include ifmobile {
      bottom: em(-40px);
      left: 8%;
    }
  }
}