.uaz-global {

  &__page-1 {
    @include ifmobile {
      width: 100%;
      background-image: url(../img/projects/uaz-global/p1-m.jpg);
      background-position: center top;
      background-size: 100%;
    }
  }

  &__page-2 {
    @include ifmobile {
      .uaz-global__window {
        display: none;
      }
    }
  }

  &__page-2-m {
    display: none;
    @include ifmobile {
      display: block;
      left: 200% !important;

      .uaz-global__window {
        width: 100%;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }

  &__page-3 {
    left: 200% !important;
    @include ifmobile {
      left: 300% !important;
      .uaz-global__o82, .uaz-global__window-2 {
        display: none;
      }
    }
  }

  &__page-4 {
    left: 300% !important;
    @include ifmobile {
      left: 400% !important;
      background-position: center top;
      background-size: 100%;
    }
  }




  &__side-1 {
    width: 30%;

    @include ifmobile {
      width: 100%;
    }

    &::after {
      transform: skew(4deg);

      @include ifmobile {
        transform: skew(0, 4deg);
      }
    }
  }

  &__side-2 {
    width: 40%;

    &::after {
      transform: skew(-34deg);
    }

    @include ifmobile {
      width: 100%;
      height: 100%;

      &::after {
        transform: skew(0);
      }
      
      .side__info {
        margin-top: 40%;
      }
    }
  }

  &__side-3 {
    width: 40%;
    
    &::before {
      background-color: $color-green;
    }
    &::after {
      transform: skew(-30deg);
      background-color: $color-green;
    }

    @include ifmobile {
      display: none;
    }
  }

  &__page-green {
    background-color: $color-green;
  }

  &__side-4 {
    width: 33%;

    @include ifmobile {
      width: 100%;
      height: 45%;
    }

    &::after {
      transform: skew(12deg);

      @include ifmobile {
        transform: skew(0, -7deg);
      }
    }
  }

  &__side-info-2 {
    margin-top: em(260px);
  }


  &__window, &__window-2 {
    position: absolute;
    top: 50%;
    right: 60%;
    transform: translate(100%, -50%);
    @extend %background-contain;
    z-index: 6;
  }

  &__window {
    width: em(816px);
    height: em(620px);
  }
  &__window-2 {
    width: em(921px);
    height: em(700px);
  }
  &__o82 {
    position: absolute;
    top: 50%;
    left: 14%;
    transform: translateY(-50%);
    @extend %o83;
  }

  &__pic-1 {
    position: absolute;
    @extend %background-contain;
    width: em(690px);
    height: em(320px);
    top: em(100px);
    left: 16%;

    @include ifmobile {
      width: em(320px);
      height: em(148px);
      top: em(60px);
      left: em(38px);
    }
  }

  &__pic-2 {
    position: absolute;
    @extend %background-contain;
    width: em(690px);
    height: em(320px);
    bottom: em(100px);
    left: 20%;

    @include ifmobile {
      width: em(175px);
      height: em(120px);
      top: em(210px);
      left: em(38px);
      bottom: auto;
    }
  }

  .project__numbers {
    @include ifmobile {
      display: none;
    }
  }
}