.wargaming {

  &__page-1 {
    @include ifmobile {
      width: 100%;
      background-image: url(../img/projects/wargaming/p1-m.jpg);
      background-position: center top;
      background-size: 100%;
    }
  }

  &__page-2-m {
    display: none;
    @include ifmobile {
      display: block;
      left: 200% !important;
    }
  }

  &__page-3 {
    left: 200% !important;
    @include ifmobile {
      left: 300% !important;
    }
  }

  &__page-4 {
    left: 300% !important;
    @include ifmobile {
      left: 400% !important;
      background-position: center top;
      background-size: 100%;
    }
  }

  &__side-1 {
    width: 33%;

    &::after {
      transform: skew(10deg);

      @include ifmobile {
        transform: skew(0, 9deg);
      }
    }
    @include ifmobile {
      width: 100%;
    }
  }

  &__side-2 {
    width: 40%;

    &::after {
      transform: skew(-10deg);
    }

    @include ifmobile {
      width: 100%;
      height: 100%;

      &::after {
        transform: skew(0);
      }
      
      .side__info {
        margin-top: 50%;
      }
    }
  }

  &__side-4 {
    width: 33%;

    @include ifmobile {
      width: 100%;
      height: 46%;
    }

    &::after {
      transform: skew(-15deg);

      @include ifmobile {
        transform: skew(0, -4deg);
      }
    }
  }

  &__reel {
  	transform: translateX(-10%) scale(1.4);
  }

  &__25mln {
    position: absolute;
    right: 26%;
    top: em(140px);
    @extend %mln25;

    @include ifmobile {
      top: 10%;
      right: auto;
      left: 50%;
      transform: translateX(-50%);
      font-size: em(12px);
    }
  }

  &__120shares {
    position: absolute;
    right: 24.6%;
    bottom: em(140px);
    @extend %shares120;
    
    @include ifmobile {
      bottom: 10%;
      right: auto;
      left: 50%;
      transform: translateX(-50%);
      font-size: em(12px);
    }
  }

  &__17k {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 16%;
    @extend %k17;

    @include ifmobile {
      display: none;
    }
  }

  &__tanks {
    position: absolute;
    width: em(200px);
    height: em(251px);
    @extend %background-contain;
    top: em(-300px);

    @include ifmobile {
      height: em(140px);
      top: em(-160px);
    }
  }

  .project__numbers {
    @include ifmobile {
      display: none;
    }
  }
}