%vertical-center-wrapper {
  &:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em; /* Adjusts for spacing */
  }
}

%clearfix {
  *zoom: 1;
  &:before, &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

%preloader {
  background-image: url(../img/preloader-black.svg);
  background-position: center;
  background-repeat: no-repeat;
}

%preloader-black {
  background-image: url(../img/preloader-black.svg);
  background-position: center;
  background-repeat: no-repeat;
}

%preloader-white {
  background-image: url(../img/preloader-white.svg);
  background-position: center;
  background-repeat: no-repeat;
}

@function em($size, $base:16px) {
  $remSize: $size / $base;
  @return $remSize * 1em;
}

@mixin placeholder-color($color) {
  &::-webkit-input-placeholder {color:$color;}
  &::-moz-placeholder          {color:$color;}
  &:-moz-placeholder           {color:$color;}
  &:-ms-input-placeholder      {color:$color;}
}

@mixin center($w, $h) {
  position: absolute;
  width: em($w);
  height: em($h);
  top: 50%;
  left: 50%;
  margin-top: em(-$h/2);
  margin-left: em(-$w/2);
}

@mixin hamburger($width, $height, $line-width, $color) {
  position: relative;
  height: $height;
  width: $width;
  border-top: $line-width solid $color;
  border-bottom: $line-width solid $color;
  cursor: pointer;
  box-sizing: border-box;

  &:before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    margin-top: -$line-width/2;
    border-top: $line-width solid $color;
  }
}

%fullsize {
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
}

%justify {
  text-align: justify;
  text-justify: distribute;
  line-height: 1;
  margin-bottom: -1em;

  & > * {
    display: inline-block;
    position: relative;
    text-align: left;
    vertical-align: top;
  }

  &:after {
    content: '';
    display: inline-block;
    width: 100%;
  }
}
@mixin ifdesktop {
  @media screen and (min-width: 769px) {
    @content;
  }
}
@mixin ifTablet {
  @media screen and (max-width: 768px) {
    @content;
  }
}

@mixin ifmobile {
  @media screen and (max-width: 768px) and (orientation: portrait) {
    @content;
  }
}

@mixin ifmobileL {
  @media screen and (max-width: 767px) and (orientation: landscape)  {
    @content;
  }
}

@mixin ifnotmobile {
  @media only screen and (min-width: 567px) {
    @content;
  }
}

@mixin respondH($media) {
  @media only screen and (min-height: $media) {
    @content;
  }
}

@mixin respond($media) {
  @media only screen and (max-width: $media) {
    @content;
  }
}

@mixin respondFrom($media) {
  @media only screen and (min-width: $media) {
    @content;
  }
}

@mixin iftabletL {
  @media only screen and (max-width: 1024px) and (orientation: landscape)  {
    @content;
  }
}

@mixin ifmobileL {
  @media only screen and (max-width: 567px) and (orientation: landscape)  {
    @content;
  }
}

@mixin print() {
  @media print {
    @content;
  }
}




@mixin ifparent($selector) {
  #{$selector} & {
    @content;
  }
}

@mixin ifbody($classname) {
  @include ifparent('html#{$classname}') {
    @content;
  }
}

@mixin nobr() {
  & br {
    content: ' ';
  }

  & br:after {
    content: ' ';
  }
}

%noprint {
  @media print {
    & {
      display: none;
    }
  }
}

%button {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  vertical-align: middle;
  outline: none;
  border: none;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  user-select: none;
}

%flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

%container {
  position: relative;
  width: em(1140px);

}

@mixin keyframe ($animation_name) {
  @-webkit-keyframes #{$animation_name} {
    @content;
  }

  @-moz-keyframes #{$animation_name} {
    @content;
  }

  @keyframes #{$animation_name} {
    @content;
  }
}

@mixin animation ($delay, $duration, $animation, $count: infinite, $ease: ease) {
  -webkit-animation-delay: $delay;
  -webkit-animation-duration: $duration;
  -webkit-animation-name: $animation;
  -webkit-animation-iteration-count: $count;
  -webkit-animation-timing-function: $ease;

  -moz-animation-delay: $delay;
  -moz-animation-duration: $duration;
  -moz-animation-name: $animation;
  -moz-animation-iteration-count: $count;
  -moz-animation-timing-function: $ease;

  animation-delay: $delay;
  animation-duration: $duration;
  animation-name: $animation;
  animation-iteration-count: $count;
  animation-timing-function: $ease;
}

.is_no-transition {
  transition: none !important;
}

.is_no-scroll {
  overflow: hidden;
}

nobr {
  white-space: nowrap;
}

%background-contain {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

%background-cover {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}