<div class="cursor hidden"></div>
<script src="https://www.youtube.com/iframe_api"></script>
<script src="assets/js/map.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDMH3aJAm625D2Oluggj4wBIcUv5DbItOA&amp;language=ru&amp;callback=initMap"></script>
<script src="assets/js/app.min.js?v=2"></script>

</body>
</html>