<div class="main section start" data-tint="light">
    <div class="main__d main__d_right">
        <div class="main__d-text text-animation">D</div>
        <svg class="main__d-svg" viewBox="0 0 244 278">
            <path fill="#000000" d="M244,137.6c0-37.4-14.1-75.2-41.6-101.6l-0.1,0.1c-22.9-21.8-54.8-36-95.9-36H0v278h106.4 C198.8,278.1,245.1,207.6,244,137.6z M105.7,212.4H73V65.2h32.7c20.2,0,35.7,8.3,46.6,20.7c12.2,14,18.7,33.1,18.7,52.5 C171,175.3,149.9,212.4,105.7,212.4L105.7,212.4z" />
        </svg>
    </div>
    <div class="main__side">
        <div class="main__d main__d_left">
            <div class="main__d-text text-animation">D</div>
            <svg class="main__d-svg" viewBox="0 0 244 278">
                <path fill="#E6007E" d="M244,137.6c0-37.4-14.1-75.2-41.6-101.6l-0.1,0.1c-22.9-21.8-54.8-36-95.9-36H0v278h106.4 C198.8,278.1,245.1,207.6,244,137.6z M105.7,212.4H73V65.2h32.7c20.2,0,35.7,8.3,46.6,20.7c12.2,14,18.7,33.1,18.7,52.5 C171,175.3,149.9,212.4,105.7,212.4L105.7,212.4z" />
            </svg>
        </div>
    </div>
    <div class="main__logo"></div>
    <div class="main__text">
        <span class="main__text-row text-animation">Учим бренды </span>
        <span class="main__text-row text-animation">разговаривать</span>
    </div>
    <a class="main__arrow" href="#">
        <div class="main__arrow-common">↓</div>
        <div class="main__arrow-icon">▼</div>
    </a>
    <div class="main__social social">
        <a class="social__item main__in" href="https://www.instagram.com/dndteam/" target="_blank">
            <div class="main__in-common">Instagram</div>
            <div class="main__in-icon">📷</div>
        </a>
    </div>
</div>