
<div class="nav hidden">
    <ul class="nav__items">
        <li class="nav__item active">
            <a href="projects" class="nav__link nav__link_sub">Клиенты и кейсы</a>
            <div class="nav__projects nav__gallery"></div>
        </li>
        <li class="nav__item overflow">
            <a href="skills" class="nav__link nav__link_sub">Что мы умеем</a>
            <div class="nav__skills nav__gallery"></div>
        </li>
        <li class="nav__item"><a href="team" class="nav__link">Команда</a></li>
        <li class="nav__item"><a href="contacts" class="nav__link">Контакты</a></li>
    </ul>
</div>

<a href="#main" class="logo">
    <svg viewBox="0 0 83 80" xmlns="http://www.w3.org/2000/svg">
        <g class="logo__d">
            <path d="M65.0056 27.1106C65.0056 17.1038 61.2516 7.06365 53.9103 0C53.9103 0 46.147 7.76335 46.1359 7.75224L40.5827 13.3054C43.8479 17.0261 45.5583 22.1461 45.5583 27.3217C45.5583 37.1952 39.9274 47.0799 28.1435 47.0799H19.4361V34.4742L0 53.8992V64.6057H28.3546C52.9996 64.6057 65.3165 45.8027 65.0056 27.1106Z"
                transform="translate(17.1037 15.3943)" />
            <path d="M19.4361 44.1034V17.4148H28.1435C33.5412 17.4148 37.6728 19.625 40.5827 22.9346L48.3571 15.1824L53.9103 9.62922C47.824 3.80948 39.3054 0 28.3546 0H0V63.5173L13.883 49.6455L19.4361 44.1034Z"
                transform="translate(22.457 0.411621)" />
        </g>
        <path d="M4.16489 7.23025C6.19735 7.23025 8.25203 5.84195 8.25203 3.15421V0H0V3.15421C0 5.89748 2.088 7.26356 4.16489 7.23025ZM1.94361 2.16574H6.31952V3.132C6.31952 4.40923 5.2311 5.07561 4.14268 5.07561C3.04314 5.07561 1.94361 4.45365 1.94361 3.132V2.16574Z"
            transform="translate(11.3286 0.411621)" />
        <path d="M0 2.16574H2.58778V3.29859L0 4.72021V7.00812H0.310979L2.93208 5.38659C3.4874 6.19735 4.39812 6.60829 5.34216 6.61939C6.7971 6.61939 8.27424 5.64203 8.27424 3.64289C8.28535 2.42119 8.27424 1.23281 8.27424 0H0V2.16574ZM4.34259 2.13242H6.38616V3.63178C6.38616 4.24263 5.89748 4.5314 5.38659 4.5314C4.86459 4.5314 4.34259 4.23153 4.34259 3.63178V2.13242Z"
            transform="translate(11.3396 9.00806)" />
        <path d="M8.26314 5.16446V0H0V5.27552H1.96583V2.16574H3.3208V4.93123H5.20889V2.16574H6.38616V5.16446H8.26314Z"
            transform="translate(11.3286 17.449)" />
        <path d="M8.35199 3.78727L0.288765 0H0V2.25459L1.03289 2.73217V5.83084L0 6.31952V8.5519H0.299872L8.36309 4.79795V3.78727H8.35199ZM2.83212 5.14225V3.43187L4.83127 4.28706L2.83212 5.14225Z"
            transform="translate(11.3286 23.6018)" />
        <path d="M8.28535 0H0V2.16574H3.80948L1.96583 3.92055V4.17599L3.80948 5.9308H0V8.09654H8.28535V7.3302L4.7091 4.05382L8.28535 0.766339V0Z"
            transform="translate(11.3286 33.2312)" />
        <path d="M8.26314 5.16446V0H0V5.26442H1.96583V2.16574H3.3208V4.93123H5.20889V2.16574H6.38616V5.16446H8.26314Z"
            transform="translate(11.3286 43.0049)" />
        <path d="M2.93208 5.38659C3.4874 6.19735 4.39812 6.60829 5.34216 6.6194C6.7971 6.6194 8.27424 5.64204 8.27424 3.64289C8.28535 2.42119 8.27424 1.23281 8.27424 0H0V2.16574H2.58778V3.29859L0 4.72021V7.00812H0.310979L2.93208 5.38659ZM4.34259 2.12132H6.38616V3.62068C6.38616 4.23153 5.89748 4.52029 5.38659 4.52029C4.86459 4.52029 4.34259 4.22042 4.34259 3.62068V2.12132Z"
            transform="translate(11.3396 49.7908)" />
        <path d="M5.94191 4.45414V6.4755C7.74114 6.50882 8.65186 4.88729 8.65186 3.29908C8.65186 1.61091 7.74114 0.0893379 5.94191 0.0893379C4.22042 0.0893379 3.62068 1.5998 3.52072 3.11027C3.4874 3.71001 3.45408 4.63184 2.65442 4.63184C2.15463 4.63184 1.87698 3.98767 1.87698 3.36572C1.87698 2.69933 2.15463 2.05517 2.73217 2.05517V0.000488335C0.877403 -0.0328308 0 1.64423 0 3.38793C0 5.0761 0.910722 6.76426 2.64331 6.76426C4.65357 6.76426 5.0645 5.23159 5.21999 3.46568C5.29774 2.67712 5.43101 2.19955 5.98633 2.19955C6.60829 2.19955 6.74156 2.83261 6.74156 3.32129C6.74156 3.90993 6.50833 4.43193 5.94191 4.45414Z"
            transform="translate(11.1398 57.6091)" />
        <path d="M2.82102 6.0316H3.82059V6.76462H5.59761V4.26569H2.82102C2.19906 4.26569 1.78813 3.81032 1.78813 3.18837C1.78813 2.46645 2.29902 2.11105 2.80991 2.11105C3.3208 2.11105 3.8317 2.48867 3.8317 3.18837V3.55488H5.5754V3.21058C5.5754 2.8885 5.71978 2.66637 5.89748 2.57752C5.89748 2.57752 6.03076 2.49977 6.20846 2.49977C6.64161 2.49977 6.86374 2.83296 6.86374 3.2439C6.86374 3.57709 6.67493 3.92139 6.35284 3.92139V5.75394C7.87441 5.80947 8.57412 4.6322 8.57412 3.19947C8.57412 1.46688 7.46348 0.500627 6.36395 0.500627C5.97523 0.489521 5.59761 0.589478 5.25331 0.822712L4.85348 1.16701C4.39812 0.411776 3.59846 0.0119472 2.73217 0.000840801C1.42162 -0.0324783 0 0.922669 0 3.18837C0 4.95428 1.07732 6.0316 2.82102 6.0316Z"
            transform="translate(0.0334206)" />
        <path d="M0 3.15421C0 5.89748 2.088 7.26356 4.17599 7.23025C6.20846 7.23025 8.26314 5.84195 8.26314 3.15421V0H0V3.15421ZM1.95472 2.15464H6.33063V3.12089C6.33063 4.39812 5.2422 5.0645 4.15378 5.0645C3.05425 5.0645 1.95472 4.44255 1.95472 3.12089V2.15464Z"
            transform="translate(0.188803 9.01904)" />
        <path d="M4.28706 8.48526C7.1525 8.48526 8.58522 6.38616 8.58522 4.26484C8.58522 2.11021 7.14139 0 4.28706 0C1.42162 0 0 2.04357 0 4.23152C0 6.74156 1.76591 8.48526 4.28706 8.48526ZM4.28706 2.16574C5.79752 2.16574 6.53054 3.19863 6.53054 4.26484C6.53054 5.28663 5.7642 6.31952 4.28706 6.31952C2.80991 6.31952 2.04357 5.26442 2.04357 4.24263C2.04357 3.17642 2.82102 2.16574 4.28706 2.16574Z"
            transform="translate(0.0334206 16.9714)" />
        <path d="M8.27424 5.16446V0H0V5.26442H1.97693V2.15463H3.3208V4.92012H5.20889V2.15463H6.39727V5.16446H8.27424Z"
            transform="translate(0.188803 26.4895)" />
        <path d="M2.93208 5.38659C3.4874 6.19735 4.39812 6.60829 5.34216 6.61939C6.7971 6.61939 8.27424 5.64203 8.27424 3.64289C8.28535 2.42119 8.27424 1.23281 8.27424 0H0V2.16574H2.58778V3.29859L0 4.7091V6.99701H0.310978L2.93208 5.38659ZM4.3537 2.12131H6.39727V3.62067C6.39727 4.23152 5.90859 4.52029 5.39769 4.52029C4.8757 4.52029 4.3537 4.22042 4.3537 3.62067V2.12131Z"
            transform="translate(0.199869 33.2312)" />
        <path d="M5.94191 0.0890678C4.22042 0.0890678 3.60957 1.59953 3.52072 3.11C3.4874 3.70974 3.45408 4.63157 2.65442 4.63157C2.15463 4.63157 1.87698 3.9763 1.87698 3.36545C1.87698 2.69906 2.15463 2.0549 2.73217 2.0549V0.00021823C0.877403 -0.0219945 0 1.65507 0 3.39877C0 5.08694 0.910722 6.7751 2.64332 6.7751C4.65357 6.7751 5.0645 5.24242 5.21999 3.47651C5.29774 2.68796 5.43101 2.21038 5.98633 2.21038C6.60829 2.21038 6.74156 2.84345 6.74156 3.33213C6.74156 3.90966 6.50833 4.44277 5.94191 4.45387V6.47523C7.74114 6.50855 8.65186 4.88702 8.65186 3.29881C8.65186 1.61064 7.74114 0.0890678 5.94191 0.0890678Z"
            transform="translate(0 41.0386)" />
    </svg>
</a>

<div class="hamburger start"></div>