<div class="brand-platform project hidden">
    <div class="page brand-platform__page-1" data-tint="dark">
        <div class="video" style="background-image: url(assets/img/projects/brand-platform/preroll.jpg)">
            <div class="video-id" id="video-brand-platform" data-id="8nHGBkX0BKo"></div>
            <video class="video__preroll">assets/img/projects/brand-platform/preroll.mp4</video>
        </div>
        <div class="brand-platform__side-1 side right hidden">
            <div class="side__info">
                <div class="side__title">
                    <div class="project-text-animation">Видео-контент</div>
                    <div class="project-text-animation">платформа бренда</div>
                </div>
                <div class="side__text">
                    <div class="project-text-animation">Повышение лояльности к&nbsp;бренду</div>
                    <div class="project-text-animation">и&nbsp;повышение знания об обновлении</div>
                    <div class="project-text-animation">модельного ряда</div>
                </div>
            </div>
        </div>
        <div class="area play w50"></div>
        <div class="area right w50"></div>
        <div class="area close w100 hidden"></div>
    </div>

    <div class="page brand-platform__page-2" data-tint="dark">
        <div class="video">
            <div class="video-id" id="video-brand-platform-2" data-id="wKW9Tj26pwU"></div>
            <video class="video__preroll">assets/img/projects/brand-platform/preroll-2.mp4</video>
        </div>
        <div class="brand-platform__28percent"></div>
        <div class="brand-platform__side-2 side">
            <div class="side__info">
                <div class="side__subtitle">РЕШЕНИЕ</div>
                <div class="side__text">
                    Разработка контент-платформы для постоянного и&nbsp;информативного диалога
                    с&nbsp;потребителем<br><br>
                    Система производства видео-контента<br><br>
                    WEB разработка с&nbsp;учетом&nbsp;UX<br><br>
                    Специальные контент-проекты на&nbsp;ТВ<br><br>
                    Контент проекты с&nbsp;партнерами<br><br>
                </div>
            </div>
        </div>
        <div class="project__numbers">1/3</div>
        <div class="project__numbers project__numbers_m">1/4</div>

        <div class="area play w100"></div>
        <div class="area left w33"></div>
        <div class="area right w33"></div>
        <div class="area close w100 hidden"></div>
    </div>

    <div class="page brand-platform__page-2-m" data-tint="dark" data-img-m="assets/img/projects/brand-platform/p2-m.jpg">
        <div class="brand-platform__28percent"></div>
        <div class="project__numbers project__numbers_m">2/4</div>
        <div class="area left w50"></div>
        <div class="area right w50"></div>
    </div>

    <div class="page brand-platform__page-3" data-tint="dark" data-img="assets/img/projects/brand-platform/p3.jpg" data-img-m="assets/img/projects/brand-platform/p3-m.jpg">

        <div class="brand-platform__reels">
            <video class="brand-platform__reel-1 content-video">assets/img/projects/brand-platform/reel-1.mp4</video>
            <video class="brand-platform__reel-2 content-video">assets/img/projects/brand-platform/reel-2.mp4</video>
            <video class="brand-platform__reel-3 content-video">assets/img/projects/brand-platform/reel-3.mp4</video>
            <div class="brand-platform__levelup"></div>
        </div>

        <div class="project__numbers">2/3</div>
        <div class="project__numbers project__numbers_m">3/4</div>

        <div class="area left w50"></div>
        <div class="area right w50"></div>
    </div>

    <div class="page brand-platform__page-4" data-tint="dark" data-img-m="assets/img/projects/brand-platform/p4-m.jpg">
        <div class="video">
            <div class="video-id" id="video-brand-platform-3" data-id="FjttVgVvg2I"></div>
            <video class="video__preroll">assets/img/projects/brand-platform/preroll-3.mp4</video>
        </div>
        <div class="project__numbers project__numbers_last">3/3</div>
        <div class="project__numbers project__numbers_m project__numbers_last">4/4</div>
        <div class="brand-platform__side-4 side right">
            <div class="side__info">
                <div class="side__title">Далее</div>
                <div class="side__text">
                    Коммуникационная поддержка бренда на глобальном рынке
                </div>
            </div>
        </div>

        <div class="area play w100"></div>
        <div class="area left w33"></div>
        <div class="area down w33"></div>
        <div class="area close w100 hidden"></div>
    </div>
</div>