<div class="btl project hidden">
    <div class="page btl__page-1" data-tint="dark">
        <div class="btl__side-1 side right hidden">
            <div class="side__info btl__side-info-1">
                <div class="side__title">
                    <div class="project-text-animation">BTL поддержка запуска</div>
                    <div class="project-text-animation">нового продукта</div>
                </div>
                <div class="side__text">
                    <div class="project-text-animation">Продемонстрировать линейку нового</div>
                    <div class="project-text-animation">коммерческого транспорта</div>
                </div>
            </div>
        </div>
        <div class="area right w100"></div>
    </div>

    <div class="page btl__page-2" data-tint="dark" data-img="assets/img/projects/btl/p2.jpg">
        <div class="btl__side-2 side">
            <div class="side__info btl__side-info-2">
                <div class="side__subtitle">РЕШЕНИЕ</div>
                <div class="side__text">
                    Проведение цикла выставочных и&nbsp;промо мероприятий для целевой аудитории<br><br>
                    Крупнейшая выставка коммерческого транспорта Comtrans&nbsp;2017<br><br>
                    Локальные профессиональные форумы и&nbsp;выставки<br><br>
                    Специальные показы для крупных корпоративных клиентов<br><br>
                    Промо активности для широкой аудитории потребителей
                </div>
            </div>
        </div>
        <div class="btl__8">8</div>
        <div class="project__numbers">1/2</div>

        <div class="area left w50"></div>
        <div class="area right w50"></div>
    </div>

    <div class="page btl__page-3" data-tint="dark" data-img="assets/img/projects/btl/p3.jpg" data-img-m="assets/img/projects/btl/p3-m.jpg">

        <div class="project__numbers">2/2</div>

        <div class="area left w100"></div>
    </div>
</div>