<div class="influence-marketing project hidden">
    <div class="page influence-marketing__page-1" data-tint="dark">
        <div class="video influence-marketing__reel" style="background-image: url(assets/img/projects/influence-marketing/preroll.jpg)">
            <div class="video-id" id="video-influence-marketing" data-id="TmNWRCMks9Q"></div>
            <video class="video__preroll">assets/img/projects/influence-marketing/preroll.mp4</video>
        </div>
        <div class="influence-marketing__side-1 side right hidden">
            <div class="side__info">
                <div class="side__title">
                    <div class="project-text-animation">Стратегия Influence-</div>
                    <div class="project-text-animation">маркетинга</div>
                </div>
                <div class="side__text">
                    <div class="project-text-animation">Расширение и омоложение целевой</div>
                    <div class="project-text-animation">аудитории бренда</div>
                </div>
            </div>
        </div>
        <div class="area play w50"></div>
        <div class="area right w50"></div>
        <div class="area close w100 hidden"></div>
    </div>

    <div class="page influence-marketing__page-2" data-tint="dark">
        <div class="video influence-marketing__reel-2">
            <div class="video-id" id="video-influence-marketing-2" data-id="tyFulmYr8go"></div>
            <video class="video__preroll">assets/img/projects/influence-marketing/preroll-2.mp4</video>
        </div>
        <div class="side influence-marketing__side-2">
            <div class="side__info influence-marketing__side-info-2">
                <div class="side__subtitle">РЕШЕНИЕ</div>
                <div class="side__text">
                    Разработка и реализация стратегии influence-маркетинга<br><br>
                    Постоянный мониторинг блогерского контента<br><br>
                    Ранжирование блогеров и&nbsp;материалов<br><br>
                    Проактивная работа и&nbsp;собственный креатив<br><br>
                    Отказ от классических тест-драйвов в&nbsp;пользу специальных проектов
                </div>
            </div>
        </div>
        <div class="project__numbers">1/3</div>

        <div class="area play w100"></div>
        <div class="area left w33"></div>
        <div class="area right w33"></div>
        <div class="area close w100 hidden"></div>
    </div>

    <div class="page influence-marketing__page-3" data-tint="red" data-img="assets/img/projects/influence-marketing/p3.jpg" data-img-m="assets/img/projects/influence-marketing/p3-m.jpg">
        <div class="project__numbers">2/3</div>

        <div class="area left w50"></div>
        <div class="area right w50"></div>
    </div>

    <div class="page influence-marketing__page-4" data-tint="red" data-img-m="assets/img/projects/influence-marketing/p4-m.jpg">
        <div class="video influence-marketing__reel-3">
            <div class="video-id" id="video-influence-marketing-3" data-id="bDUpoIQ9_wc"></div>
            <video class="video__preroll">assets/img/projects/influence-marketing/preroll-3.mp4</video>
        </div>
        <div class="project__numbers project__numbers_last">3/3</div>
        <div class="influence-marketing__like"></div>
        <div class="influence-marketing__side-4 side right">
            <div class="side__info">
                <div class="side__title">Далее</div>
                <div class="side__text">
                    Партнерский проект с «Wargaming»
                </div>
            </div>
        </div>

        <div class="area play w100"></div>
        <div class="area left w33"></div>
        <div class="area down w33"></div>
        <div class="area close w100 hidden"></div>
    </div>
</div>