<div class="strategy project hidden">
    <div class="page strategy__page-1" data-tint="dark">
        <div class="strategy__side-1 side right hidden">
            <div class="side__info">
                <div class="side__title">
                    <div class="project-text-animation">Стратегии experience-</div>
                    <div class="project-text-animation">маркетинга для «УАЗ»</div>
                </div>
                <div class="side__text">
                    <div class="project-text-animation">Повышение конверсии</div>
                    <div class="project-text-animation">в&nbsp;покупки и&nbsp;поиск</div>
                    <div class="project-text-animation">альтернативных направлений</div>
                    <div class="project-text-animation">продвижения бренда УАЗ</div>
                </div>
            </div>
        </div>
        <div class="area right w100"></div>
    </div>

    <div class="page strategy__page-2" data-tint="dark" data-img="assets/img/projects/strategy/pic-2.jpg">
        <div class="strategy__250members"></div>
        <div class="strategy__side-2 side">
            <div class="side__info strategy__side-info-2">
                <div class="side__subtitle">РЕШЕНИЕ</div>
                <div class="side__text">
                    Разработка стратегии experience маркетинга<br><br>
                    Запуск проекта Drive HUB<br><br>
                    Подбор партнеров для запуска собственных<br><br>
                    услуг бренда в&nbsp;области туризма и&nbsp;автопутешествий
                </div>
            </div>
        </div>
        <div class="strategy__window"></div>
        <div class="project__numbers">1/3</div>
        <div class="project__numbers project__numbers_m">1/4</div>

        <div class="area left w50"></div>
        <div class="area right w50"></div>
    </div>

    <div class="page strategy__page-2-m" data-tint="dark" data-img-m="assets/img/projects/strategy/pic-2.jpg">
        <div class="strategy__250members"></div>
        <div class="project__numbers project__numbers_m">2/4</div>
        <div class="area left w50"></div>
        <div class="area right w50"></div>
    </div>

    <div class="page strategy__page-3" data-tint="dark" data-img="assets/img/projects/strategy/p3.jpg" data-img-m="assets/img/projects/strategy/p3-m.jpg">

        <div class="project__numbers">2/3</div>
        <div class="project__numbers project__numbers_m">3/4</div>

        <div class="area left w50"></div>
        <div class="area right w50"></div>
    </div>

    <div class="page strategy__page-4 strategy__page-green" data-tint="dark" data-img="assets/img/projects/strategy/p4.jpg" data-img-m="assets/img/projects/strategy/p4-m.jpg">
        <div class="project__numbers project__numbers_last">3/3</div>
        <div class="project__numbers project__numbers_m project__numbers_last">4/4</div>
        <div class="strategy__side-4 side right">
            <div class="side__info">
                <div class="side__title">Далее</div>
                <div class="side__text">
                    BTL поддержка запуска нового продукта
                </div>
            </div>
        </div>

        <div class="area left w50"></div>
        <div class="area down w50"></div>
    </div>
</div>