<div class="two-legends project hidden">
    <div class="page two-legends__page-1" data-tint="dark">
        <div class="video two-legends__reel" style="background-image: url(assets/img/projects/two-legends/preroll.jpg)">
            <div class="video-id" id="video-two-legends" data-id="J8-mXJlyiKs"></div>
            <video class="video__preroll">assets/img/projects/two-legends/preroll.mp4</video>
        </div>
        <div class="two-legends__side-1 side right hidden">
            <div class="side__info">
                <div class="side__title">
                    <div class="project-text-animation">Креативная стратегия</div>
                    <div class="project-text-animation">«Две&nbsp;легенды.</div>
                    <div class="project-text-animation">Один&nbsp;характер»</div>
                </div>
                <div class="side__text">
                    <div class="project-text-animation">Укрепление имиджа бренда</div>
                    <div class="project-text-animation">и повышение ценности продукта</div>
                </div>
            </div>
        </div>
        <div class="area play w50"></div>
        <div class="area right w50"></div>
        <div class="area close w100 hidden"></div>
    </div>

    <div class="page two-legends__page-2" data-tint="dark" data-img="assets/img/projects/two-legends/p2.jpg">
        <div class="two-legends__side-2 side">
            <div class="side__info two-legends__side-info-2">
                <div class="side__subtitle">РЕШЕНИЕ</div>
                <div class="side__text">Разработка коммуникационной платформы «Две&nbsp;легенды.
                    Один&nbsp;характер»<br><br>
                    Рекламная кампания 360 «Мое&nbsp;место&nbsp;силы»<br><br>
                    Блогерский проект «Мое&nbsp;место&nbsp;силы»<br><br>
                    UGC конкурс<br><br>
                    Региональная промо кампания</div>
            </div>
        </div>
        <div class="project__numbers">1/4</div>
        <div class="project__numbers project__numbers_m">1/5</div>
        <div class="area left w50"></div>
        <div class="area right w50"></div>
    </div>

    <div class="page two-legends__page-2-m" data-tint="dark" data-img-m="assets/img/projects/two-legends/p2-m.jpg">
        <div class="project__numbers project__numbers_m">2/5</div>
        <div class="area left w50"></div>
        <div class="area right w50"></div>
    </div>

    <div class="page two-legends__page-3" data-tint="dark" data-img="assets/img/projects/two-legends/p3.jpg" data-img-m="assets/img/projects/two-legends/p3-m.jpg">
        <div class="project__numbers">2/4</div>
        <div class="project__numbers project__numbers_m">3/5</div>
        <div class="area left w50"></div>
        <div class="area right w50"></div>
    </div>

    <div class="page two-legends__page-4" data-tint="light">
        <div class="video two-legends__reel-2" style="background-image: url(assets/img/projects/two-legends/preroll.jpg)">
            <div class="video-id" id="video-two-legends-2" data-id="J8-mXJlyiKs"></div>
            <video class="video__preroll video__preroll_right">assets/img/projects/two-legends/preroll.mp4</video>
        </div>
        <div class="two-legends__image-4"></div>
        <div class="two-legends__side-4 side">
            <div class="two-legends__1-5mln"></div>
        </div>
        <div class="project__numbers project__numbers_white">3/4</div>
        <div class="project__numbers project__numbers_m">4/5</div>

        <div class="area play w100"></div>
        <div class="area left w33"></div>
        <div class="area right w33"></div>
        <div class="area close w100 hidden"></div>
    </div>

    <div class="page two-legends__page-5" data-tint="dark" data-img="assets/img/projects/two-legends/p5.jpg" data-img-m="assets/img/projects/two-legends/p5-m.jpg">
        <div class="project__numbers project__numbers_last">4/4</div>
        <div class="project__numbers project__numbers_last project__numbers_m">5/5</div>
        <div class="two-legends__side-5 side right">
            <div class="side__info">
                <div class="side__title">Далее</div>
                <div class="side__text">
                    Стратегия Influence-маркетинга
                </div>
            </div>
        </div>
        <div class="area left w50"></div>
        <div class="area down w50"></div>
    </div>
</div>