<div class="uaz-global project hidden">
    <div class="page uaz-global__page-1" data-tint="dark">
        <div class="video uaz-global__reel" style="background-image: url(assets/img/projects/uaz-global/preroll.jpg)">
            <div class="video-id" id="video-uaz-global" data-id="UQpT1yUlrMU"></div>
            <video class="video__preroll">assets/img/projects/uaz-global/preroll.mp4</video>
        </div>
        <div class="uaz-global__side-1 side right hidden">
            <div class="side__info uaz-global__side-info-1">
                <div class="side__title">
                    <div class="project-text-animation">Коммуникационная</div>
                    <div class="project-text-animation">поддержка бренда</div>
                    <div class="project-text-animation">на глобальном рынке</div>
                </div>
                <div class="side__text">
                    <div class="project-text-animation">Перезапуск бренда</div>
                    <div class="project-text-animation">на международном рынке</div>
                </div>
            </div>
        </div>
        <div class="area play w50"></div>
        <div class="area right w50"></div>
        <div class="area close w100 hidden"></div>
    </div>

    <div class="page uaz-global__page-2" data-tint="dark" data-img="assets/img/projects/uaz-global/bg.jpg">
        <div class="uaz-global__side-2 side">
            <div class="side__info uaz-global__side-info-2">
                <div class="side__subtitle">РЕШЕНИЕ</div>
                <div class="side__text">
                    Разработка набора цифровых и&nbsp;креативных материалов с&nbsp;учетом особенностей
                    локальных рынков<br><br>
                    Разработка и запуск глобального сайта uaz.global<br><br>
                    Разработка и адаптация креативных материалов<br><br>
                    Производство video kits для отдельных рынков
                </div>
            </div>
        </div>
        <div class="uaz-global__window" data-img="assets/img/projects/uaz-global/w1.png"></div>
        <div class="project__numbers">1/3</div>
        <div class="project__numbers project__numbers_m">1/4</div>

        <div class="area left w50"></div>
        <div class="area right w50"></div>
    </div>

    <div class="page uaz-global__page-2-m" data-tint="dark" data-img-m="assets/img/projects/uaz-global/bg.jpg">
        <div class="uaz-global__window" data-img-m="assets/img/projects/uaz-global/w1.png"></div>
        <div class="project__numbers project__numbers_m">2/4</div>
        <div class="area left w50"></div>
        <div class="area right w50"></div>
    </div>

    <div class="page uaz-global__page-3" data-tint="dark" data-img="assets/img/projects/uaz-global/bg.jpg" data-img-m="assets/img/projects/uaz-global/p3-m.jpg">
        <div class="uaz-global__side-3 side right"></div>
        <div class="uaz-global__o82"></div>
        <div class="uaz-global__window-2" data-img="assets/img/projects/uaz-global/w2.png" data-img-m="assets/img/projects/uaz-global/w2.png"></div>

        <div class="project__numbers">2/3</div>
        <div class="project__numbers project__numbers_m">3/4</div>

        <div class="area left w50"></div>
        <div class="area right w50"></div>
    </div>

    <div class="page uaz-global__page-4 uaz-global__page-green" data-tint="dark">
        <div class="uaz-global__pic-1" data-img="assets/img/projects/uaz-global/pic1.jpg" data-img-m="assets/img/projects/uaz-global/pic1.jpg"></div>
        <div class="uaz-global__pic-2" data-img="assets/img/projects/uaz-global/pic1.jpg" data-img-m="assets/img/projects/uaz-global/pic1.jpg"></div>
        <div class="project__numbers project__numbers_last">3/3</div>
        <div class="project__numbers project__numbers_m project__numbers_last">4/4</div>
        <div class="uaz-global__side-4 side right">
            <div class="side__info">
                <div class="side__title">Далее</div>
                <div class="side__text">
                    Стратегии experience-маркетинга для&nbsp;«УАЗ»
                </div>
            </div>
        </div>

        <div class="area left w50"></div>
        <div class="area down w50"></div>
    </div>
</div>