<div class="uaz-profi project hidden">
    <div class="page uaz-profi__page-1" data-tint="dark">
        <div class="uaz-profi__side-1 side right hidden">
            <div class="side__info">
                <div class="side__title">
                    <div class="project-text-animation">Запуск новой модели</div>
                    <div class="project-text-animation">УАЗ&nbsp;Профи</div>
                </div>
                <div class="side__text">
                    <div class="project-text-animation">Вывод на рынок новой модели</div>
                    <div class="project-text-animation">легкового грузового транспорта</div>
                </div>
            </div>
        </div>
        <div class="area right w100"></div>
    </div>
    <div class="page uaz-profi__page-2" data-tint="dark" data-img="assets/img/projects/uaz-profi/p2.jpg">
        <div class="uaz-profi__side-2 side">
            <div class="uaz-profi__cubes" data-img="assets/img/projects/uaz-profi/cubes.png" data-img-m="assets/img/projects/uaz-profi/cubes.png"></div>
            <div class="side__info uaz-profi__side-info-2">
                <div class="side__subtitle">РЕШЕНИЕ</div>
                <div class="side__text">
                    Разработка и реализация коммуникационной и&nbsp;медийной стратегии запуска нового
                    продукта<br><br>
                    Разработка айдентики дилерских центров<br><br>
                    Производство фото/видео банка<br><br>
                    PR поддержка и пресс-тур<br><br>
                    Рекламная кампания 360<br><br>
                    Блогерская поддержка и&nbsp;специальные проекты</div>
            </div>
        </div>
        <div class="project__numbers">1/5</div>
        <div class="area left w50"></div>
        <div class="area right w50"></div>
    </div>
    <div class="page uaz-profi__page-3" data-tint="dark" data-img="assets/img/projects/uaz-profi/p3.jpg" data-img-m="assets/img/projects/uaz-profi/p3-m.jpg">
        <div class="project__numbers">2/5</div>
        <div class="uaz-profi__x20"></div>
        <div class="area left w50"></div>
        <div class="area right w50"></div>
    </div>
    <div class="page uaz-profi__page-4" data-tint="light" data-img="assets/img/projects/uaz-profi/p4.jpg" data-img-m="assets/img/projects/uaz-profi/p4-m.jpg">
        <div class="project__numbers">3/5</div>
        <div class="uaz-profi__sales-lead"></div>
        <div class="area left w50"></div>
        <div class="area right w50"></div>
    </div>
    <div class="page uaz-profi__page-5" data-tint="dark" data-img="assets/img/projects/uaz-profi/p5.jpg" data-img-m="assets/img/projects/uaz-profi/p5-m.jpg">
        <div class="project__numbers">4/5</div>
        <div class="area left w50"></div>
        <div class="area right w50"></div>
    </div>
    <div class="page uaz-profi__page-6" data-tint="dark" data-img="assets/img/projects/uaz-profi/p6.jpg" data-img-m="assets/img/projects/uaz-profi/p6-m.jpg">
        <div class="project__numbers project__numbers_last">5/5</div>
        <div class="uaz-profi__side-6 side right">
            <div class="side__info">
                <div class="side__title">Далее</div>
                <div class="side__text">
                    Креативная стратегия «Две&nbsp;легенды. Один&nbsp;характер»
                </div>
            </div>
        </div>
        <div class="area left w50"></div>
        <div class="area down w50"></div>
    </div>
</div>