<div class="wargaming project hidden">
    <div class="page wargaming__page-1" data-tint="dark">
        <div class="video wargaming__reel" style="background-image: url(assets/img/projects/wargaming/preroll.jpg)">
            <div class="video-id" id="video-wargaming" data-id="LJWTnZNRIkA"></div>
            <video class="video__preroll">assets/img/projects/wargaming/preroll.mp4</video>
        </div>
        <div class="wargaming__side-1 side right hidden">
            <div class="side__info">
                <div class="side__title">
                    <div class="project-text-animation">Партнерский проект</div>
                    <div class="project-text-animation">с&nbsp;«Wargaming»</div>
                </div>
                <div class="side__text">
                    <div class="project-text-animation">Расширение и омоложение целевой</div>
                    <div class="project-text-animation">аудитории&nbsp;бренда</div>
                </div>
            </div>
        </div>
        <div class="area play w50"></div>
        <div class="area right w50"></div>
        <div class="area close w100 hidden"></div>
    </div>

    <div class="page wargaming__page-2" data-tint="dark" data-img="assets/img/projects/wargaming/p2.jpg">
        <div class="wargaming__25mln"></div>
        <div class="wargaming__120shares"></div>
        <div class="wargaming__side-2 side">
            <div class="side__info">
                <div class="wargaming__tanks" data-img="assets/img/projects/wargaming/tanks.gif" data-img-m="assets/img/projects/wargaming/tanks.gif"></div>
                <div class="side__subtitle">РЕШЕНИЕ</div>
                <div class="side__text">
                    Партнерский проект с World of Tanks<br><br>
                    Выпуск специальной версии Patriot WOT Edition<br><br>
                    Конкурс «WOT это семейка» со специальным призом<br><br>
                    Специальная презентация для СМИ<br><br>
                    Интеграция на Wargaming FEST
                </div>
            </div>
        </div>
        <div class="project__numbers">1/3</div>
        <div class="project__numbers project__numbers_m">1/4</div>

        <div class="area left w50"></div>
        <div class="area right w50"></div>
    </div>

    <div class="page wargaming__page-2-m" data-tint="dark" data-img-m="assets/img/projects/wargaming/p2-m.jpg">
        <div class="wargaming__25mln"></div>
        <div class="wargaming__120shares"></div>
        <div class="project__numbers project__numbers_m">2/4</div>
        <div class="area left w50"></div>
        <div class="area right w50"></div>
    </div>

    <div class="page wargaming__page-3" data-tint="dark" data-img="assets/img/projects/wargaming/p3.jpg" data-img-m="assets/img/projects/wargaming/p3-m.jpg">
        <div class="project__numbers">2/3</div>
        <div class="project__numbers project__numbers_m">3/4</div>
        <div class="area left w50"></div>
        <div class="area right w50"></div>
    </div>

    <div class="page wargaming__page-4" data-tint="dark" data-img-m="assets/img/projects/wargaming/p4-m.jpg">
        <div class="video wargaming__reel">
            <div class="video-id" id="video-wargaming-2" data-id="LJWTnZNRIkA"></div>
            <video class="video__preroll">assets/img/projects/wargaming/preroll.mp4</video>
        </div>
        <div class="wargaming__17k"></div>
        <div class="project__numbers project__numbers_last">3/3</div>
        <div class="project__numbers project__numbers_m project__numbers_last">4/4</div>
        <div class="wargaming__side-4 side right">
            <div class="side__info">
                <div class="side__title">Далее</div>
                <div class="side__text">
                    Видео-контент платформы бренда
                </div>
            </div>
        </div>

        <div class="area play w100"></div>
        <div class="area left w33"></div>
        <div class="area down w50"></div>
        <div class="area close w100 hidden"></div>
    </div>
</div>