$color-white: #ffffff;
$color-grey: #f4f5f7;
$color-dark: #252525;
$color-black: #000000;
$color-green: #004c3f;
$color-pink: #E6007E;

html {
  font-family: 'Montserrat', sans-serif;
  font-size: (16 * 100vh/900);
  line-height: 1.3;

  @media screen and (max-aspect-ratio: 1440/900) {
    font-size: (16 * 100vw/1440);
  }

  @include ifmobile {
    font-size: (16 * 100vw/375);
  }

  @include ifmobileL {
    font-size: (7 * 100vh/375);
  }

}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  background-color: $color-white;
  @include ifdesktop {
    overflow: hidden;
  }
}

.preload * {
  visibility: hidden;
  transition: none !important;
}

.no_transition .section {
  transition: none !important;
}