.noscroll {
  @include ifmobile {
    overflow: hidden;
    position: absolute !important;
    width: 100%;
    height: 100% !important;
    top: 0;
    left: 0;

    &::after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: $color-black;
    }
  }
}