$sprite-width: 3434px;
$sprite-height: 400px;

%sprite-common {
  background-image: url(../svg/sprite.svg), none;
  background-size: em($sprite-width) em($sprite-height);
  background-repeat: no-repeat;
}

%d-logo {
  @extend %sprite-common;
  width: em(250px);
  height: em(280px);
  background-position: 0 0;
}

%dd-logo {
  @extend %sprite-common;
  width: em(70px);
  height: em(210px);
  background-position: em(-280px) 0;
}


%mln1-5 {
  @extend %sprite-common;
  width: em(180px);
  height: em(290px);
  background-position: em(-400px) 0;
  z-index: 2;
}

%like {
  @extend %sprite-common;
  width: em(240px);
  height: em(218px);
  background-position: em(-620px) 0;
}

%mln25 {
  @extend %sprite-common;
  width: em(164px);
  height: em(252px);
  background-position: em(-900px) 0;
}

%shares120 {
  @extend %sprite-common;
  width: em(222px);
  height: em(242px);
  background-position: em(-1100px) 0;
}

%k17 {
  @extend %sprite-common;
  width: em(604px);
  height: em(104px);
  background-position: em(-1380px) 0;
}

%percent28 {
  @extend %sprite-common;
  width: em(190px);
  height: em(359px);
  background-position: em(-2000px) 0;
}

%o83 {
  @extend %sprite-common;
  width: em(233px);
  height: em(392px);
  background-position: em(-2200px) 0;
}

%members250 {
  @extend %sprite-common;
  width: em(384px);
  height: em(172px);
  background-position: em(-2448px) 0;
}

%levelup {
  @extend %sprite-common;
  width: em(182px);
  height: em(142px);
  background-position: em(-1400px) em(-230px);
}

%x20 {
  @extend %sprite-common;
  width: em(226px);
  height: em(152px);
  background-position: em(-1666px) em(-200px);
}

%sales-lead {
  @extend %sprite-common;
  width: em(280px);
  height: em(266px);
  background-position: em(-3140px) em(-133px);
}