.area {
  position: absolute;
  display: block;
  height: 100%;
  top: 0;
  z-index: 8;
  cursor: none;

  @include ifmobile {
    @include ifparent('.playback') {
      display: none;
    }
  }

  &.right {
    right: 0;
  }

  &.left {
    left: 0;
  }

  &.down {
    right: 0;
  }

  &.play {
    left: 0;
    @include ifmobile {
      width: 100% !important;
      background-image: url(../svg/play.svg);
      background-repeat: no-repeat;
      background-position: center center;
      background-size: em(40px);
      height: 50%;
      z-index: 10;
    }
  }

  &.close {
    &.hidden {
      display: none;
    }
    @include ifmobile {
      display: none;
    }
  }

  &.w100 {
    width: 100%;
  }

  &.w50 {
    width: 50%;
  }

  &.w33 {
    @include ifdesktop {
      width: 33%;
    }
    @include ifmobile {
      width: 50%;
    }
  }
}