.cursor {
  $width: 100px;
  $height: 80px;

  position: absolute;
  width: em($width);
  height: em($height);
  top: em(-$width/2);
  left: em(-$height/2);
  z-index: 100;
  pointer-events: none;
  @extend %background-contain;

  @include ifmobile {
    display: none;
  }

  &.hidden {
    display: none;
  }

  &.right {
    background-image: url('../svg/right.svg');
  }

  &.left {
    background-image: url('../svg/left.svg');
  }

  &.down {
    background-image: url('../svg/down.svg');
  }

  &.play {
    background-image: url('../svg/play.svg');
  }

  &.close {
    background-image: url('../svg/close.svg');

    @media all and (-ms-high-contrast: none) {
      &.invert {
        background-image: url('../svg/close-black.svg');
      }
    }

    @supports (-ms-ime-align: auto) {
      &.invert {
        background-image: url('../svg/close-black.svg');
      }
    }
  }

  &.invert {
    mix-blend-mode: difference;
  }
}