.footer {
	position: absolute;
	width: 100%;
	height: em(60px);
	bottom: 0;
	z-index: 1;

	&__text {
		padding: em(20px) em(40px);
		@include ifmobile {
			padding: em(20px);
			position: absolute;
			bottom: 0;
			left: 0;
		}
		color: $color-white;
	}

	&__social {
		position: absolute;
		right: 0;
		bottom: 0;
	}

	&__social-item {
		color: $color-white;
	}
}