.hamburger {
	position: absolute;
	width: em(40px);
	height: em(48px);
	right: em(30px);
	top: em(30px);
	cursor: pointer;
	z-index: 20;

	&.inactive {
		pointer-events: none;
	}

	&.hidden {
		display: none;
	}

	@include ifmobile {
		position: fixed;
		right: em(10px);
		top: em(10px);
	}

	&::before,
	&::after {
		content: '';
		display: block;
		position: absolute;
		width: em(20px);
		height: 2px;
		left: em(10px);
		background-color: $color-black;
		transition: transform .3s, top .3s, background-color 1s;
	}

	&::before {
		top: em(18px);
	}

	&::after {
		bottom: em(18px);
	}

	@include ifparent('.dark') {

		&::before,
		&::after {
			background-color: $color-white;
		}
	}

	@include ifparent('.red') {

		&::before,
		&::after {
			background-color: red;
		}
	}

	&.invert {
		@include ifdesktop {
			&:before,
			&:after {
				background-color: $color-white;
			}
		}
		@include ifmobile {
			mix-blend-mode: difference;
		}
	}

	&.close {
		&:before,
		&:after {
			transition: background-color .3s;
			background-color: $color-white;
			top: em(24px);
		}

		&:before {
			transform: rotate(45deg) !important;
		}

		&:after {
			transform: rotate(-45deg) !important;
		}

		&:hover {

			&::before,
			&::after {
				background-color: red;
			}
		}
	}

	&:hover {
		&:before {
			transform: rotate(-30deg);

			@include ifmobile {
				transform: none;
			}
		}

		&:after {
			transform: rotate(30deg);

			@include ifmobile {
				transform: none;
			}
		}
	}
}

.hamburger.start {
	background-image: url(../img/icons/hamburger.png);
	@extend %background-contain;

	&::before,
	&::after {
		display: none;
	}
}