.logo {
  position: absolute;
  left: em(30px);
  top: em(40px);
  transition: all 1s .6s;
  z-index: 12;

  &.white {
    path {
      fill: $color-white;
    }
  }

  @include ifmobile {
    position: fixed;
    left: em(10px);
    top: em(25px);
    transition: all .6s 0s;
  }

  svg {
    width: em(83px);
    height: em(80px);

    path {
      transition: fill 1s;
      @include ifparent('.dark') {
        fill: $color-white;
      }
      @include ifparent('.red') {
        fill: red;
      }
    }
  }

  &__d {
    @include ifmobile {
      display: none;
    }
  }

  &.hidden {
    opacity: 0;
    visibility: hidden;
    transition: all .3s;
  }
}