.map {
	position: absolute;
	top: 0;
	width: 100%;
	height: 110%;

	@include ifmobile {
		div {
			display: none;
		}
		background-image: url(../img/map-mobile.png);
		background-repeat: no-repeat;
		background-position: center center;
		background-size: cover;
	}
}