.nav {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: $color-dark;
  transition-property: transform, visibility;
  transition-duration: .6s;
  overflow: hidden;
  z-index: 15;

  @include ifmobile {
    transition-duration: .3s;
  }

  &.hidden {
    transform: translateX(100%);
    transition-duration: .3s;
    transition-timing-function: ease-in;
    visibility: hidden;
  }

  &__items {
    position: absolute;
    list-style: none;
    padding: 0;
    left: 0;
    width: 100%;

    @include ifdesktop {
      top: em(60px);
    }

    @include ifmobile {
      top: em(40px);
    }

    @include ifmobileL {
      top: 0;
    }
  }

  &__link {
    $size: 22px;
    font-size: em($size);
    display: block;
    position: relative;
    color: $color-white;
    text-decoration: none;
    width: em(240px, $size);
    padding: em(20px, $size);
    box-sizing: border-box;
    white-space: nowrap;
    transition: background-color .2s;

    @include ifdesktop {
      margin: 0 em(150px, $size) 0 auto;
    }

    @include ifmobile {
      padding: em(10px, $size);
      margin-left: em(50px, $size);
    }

    &_sub {
      &::before {
        content: '+';
        display: block;
        position: absolute;
        left: em(-10px, $size);

        @include ifparent('.active') {
          content: '–';
        }
      }
    }
  }

  &__gallery {
    width: 100%;
    max-height: 0;
    transition: all 0.3s;

    @include ifparent('.overflow') {
      overflow: hidden;
    }
  
    @include ifparent('.active') {
      max-height: em(220px);
      margin: em(20px) 0;
    }
  }

  &__skills-items {
    display: flex;
    width: 100%;

    @include ifmobile {
      overflow: auto;
      -webkit-overflow-scrolling: touch;
      transform: none !important;
    }
  }

  .skills-item {
    display: block;
    position: relative;
    flex-shrink: 0;
    background: $color-black;
    color: $color-white;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    cursor: pointer;

    @include ifdesktop {
      width: em(300px);
      height: em(200px);
      padding: em(30px) em(20px);
    }

    @include ifmobile {
      width: em(240px);
      height: em(160px);
      padding: em(24px) em(20px) !important;
    }

    &__title {
      &::after {
        display: none;
      }

      @include ifmobile {
        width: em(200px);
      }
    }

    &:hover {
      .skills-item__image {
        opacity: 1;
      }
    }

    &.innactive {
      display: none;
    }
    &.zoom {
      transform: none;
      opacity: 1;
    }

    &__image {
      @include ifdesktop {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-repeat: no-repeat;
        background-size: cover;
        opacity: 0;
        transition: opacity 0.2s;
      }

      @include ifmobile {
        display: none;
      }
    }
  }
}