.projects-gallery {
  text-align: right;

  @include ifdesktop {
    height: em(220px);
  }

  @include ifmobile {
    height: em(240px);
    overflow: auto;
    -webkit-overflow-scrolling: touch;
  }

  &__items {
    text-align: left;
    height: em(220px);
    display: inline-block;
    white-space: nowrap;
    transition: opacity .3s;

    @include ifmobile {
      overflow: hidden;
      transform: none !important;
    }

    &.hidden {
      opacity: 0;
    }
  }

  &__item {
    position: relative;
    display: inline-block;
    width: em(330px);
    height: em(220px);
    white-space: normal;
    margin-right: em(-5px);
    text-decoration: none;
    @extend %background-cover;
    cursor: none;

    &:last-child {
      .projects-gallery__title {
        margin-left: em(-120px, 22px);
      }
    }

    &.zoom {
      opacity: 0;
      transform: scale(5);
      transition: all .5s !important;
      visibility: hidden;
      z-index: 2;
    }

    &:hover {
      @include ifdesktop {
        .projects-gallery__title {
          display: block;
        }
      }
    }
  }

  &__title {
    $size: 22px;
    font-size: em($size);
    position: absolute;
    width: em(240px, $size);
    color: $color-white;
    pointer-events: none;
    /* opacity: 0;
    transition: opacity .2s; */
    z-index: 1;

    display: none;
  }
}

.projects-gallery.start {
  overflow: hidden;

  .projects-gallery__item {
    transition: transform 1s;

    @for $i from 1 to 14 {
      &:nth-child(#{$i}) {
        transition-delay: ($i + 6) * .1s;
      }
    }
  }
}