.projects-brands {

  &.hidden {
    display: none;
  }

  @include ifmobile {
    height: em(120px);
    overflow: auto;
    -webkit-overflow-scrolling: touch;
  }

  &__items {
    white-space: nowrap;
    text-align: left;
    display: inline-block;
  }

  &__logo {
    display: inline-block;
    vertical-align: middle;
    user-select: none;
    pointer-events: none;

    @include ifdesktop {
      margin: 0 em(50px);
    }

    @include ifmobile {
      margin: 0 em(30px);
    }

    &_uaz {
      width: em(97px);
      height: em(56px);
    }

    &_sollers {
      width: em(131px);
      height: em(39px);
    }

    &_ssangyong {
      width: em(90px);
      height: em(59px);
    }

    &_suzuki {
      width: em(60px);
      height: em(71px);
    }

    &_ds {
      width: em(125px);
      height: em(95px);
    }

    &_citroen {
      width: em(93px);
      height: em(66px);
    }

    &_peugeot {
      width: em(93px);
      height: em(70px);
    }

    &_opel {
      width: em(88px);
      height: em(70px);
    }
    
    &_vtb {
      width: em(87px);
      height: em(87px);
    }

    &_mts {
      width: em(116px);
      height: em(41px);
    }
  }
}

.projects-brands.start {
  
}