.side {
  position: absolute;
  top: 0;
  height: 100%;
  transition-property: transform;
  transition-duration: 1s;
  z-index: 5;

  @include ifmobile {
    width: 100%;
    height: 50%;
    bottom: 0;
    top: auto;
  }
  
  &::before, &::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: $color-dark;
  }

  &::before {
    width: 50%;
    @include ifmobile {
      width: 100%;
      bottom: 0;
      top: auto;
      height: 50%;
    }
  }

  &::after {
    @include ifmobile {
      width: 100%;
      height: 100%;
      bottom: 0;
      right: auto;
    }
  }

  &.right {
    right: 0;
    &::before {
      right: 0;
    }
  }

  &__info {
    position: relative;
    color: $color-white;
    z-index: 2;
    @include ifdesktop {
      width: em(410px);
      margin: em(450px) auto em(100px) auto;
    }
    @include ifmobile {
      width: em(320px);
      margin: em(60px) auto;
    }
  }

  &__title {
    $size: 26px;
    font-size: em($size);
    margin-bottom: em(20px, $size);
    overflow: hidden;

    & > div {
      white-space: nowrap;
    }
  }

  &__subtitle {
    font-weight: bold;
    margin-bottom: em(13px);
  }

  &__text > div {
    white-space: nowrap;
  }

  .project-text-animation {
    overflow: hidden;  
  }
  
  &.hidden {
    transform: translateX(-150%);
    transition-duration: .5s;
    transition-delay: .5;
    @include ifmobile {
      transform: none !important;
    }
  }
  &.hidden.right {
    transform: translateX(150%);
    @include ifmobile {
      transform: none !important;
    }
  }
}