.social {
  &__item {
    padding: em(20px) em(40px);
    @include ifmobile {
  		padding: em(20px);
  	}
  	display: inline-block;
    text-decoration: none;
    color: $color-black;

    &:hover {
    	text-decoration: underline;
    }
  }
}