.title {
  $size: 98px;
  @include ifmobile {
    position: relative;
  	$size: 49px;
  	padding: 0 em(20px, $size);
    margin-bottom: em(60px, $size);
    top: 10%;
  }
  font-size: em($size);
  position: absolute;
  padding: 0 em(150px, $size);
  box-sizing: border-box;
  right: 0;
  top: em(100px, $size);
  font-weight: 600;
  line-height: 1;
  text-align: right;
}