.video {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  transition: transform .8s .2s ease-in-out;

  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;

  iframe {
    display: none;
  }

  @include ifmobile {
    display: none;
  }

  @include ifparent('.playback') {
    transform: none;
    transition: transform .6s 0s ease-in;
    z-index: 4;

    iframe {
      display: block;
    }

    .video__preroll {
      visibility: hidden;
      opacity: 0;
    }

    @include ifmobile {
      display: block;
      z-index: 11;
    }
  }

  &__preroll {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    transition: all .2s ease-in;

    @include ifmobile {
      display: none;
    }

    &_right {
      right: 0;
    }

    @media (max-aspect-ratio: 16/9) {
      width: auto;
      height: 100%;
    }
  }
}

.video-id {
  display: none;
  position: absolute;
  background-color: $color-black;
  width: 100%;
  left: 0;

  @include ifparent('.playback') {
    display: block;
  }

  @include ifdesktop {
    height: 120%;
    top: -10%;
  }
  @include ifmobile {
    height: 140%;
    top: -20%;
  }
}

.video-close {
  display: none;

  @include ifmobile {
    @include ifparent('.playback') {
      position: absolute;
      display: block;
    }
  }
}