.approach {
  background-color: $color-white;

  @include ifmobile {
    height: auto;
    padding: em(100px) 0 em(20px) 0;
  }

  &__content {
    position: absolute;
    width: 100%;
    bottom: em(44px);
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0 em(150px);
    box-sizing: border-box;

    @include ifmobile {
      position: relative;
      text-align: right;
      display: block;
      padding: 0;
      bottom: auto;
      height: 70%;
      top: 30%;
    }
  }
}

.approach-item {
  width: em(240px);

  @include ifmobile {
    display: inline-block;
    text-align: left;
    overflow: hidden;
    height: em(166px);
    margin: 0 em(20px) em(30px) em(30px);

    &:nth-child(1) {
      width: em(300px);
    }

    &:nth-child(2) {
      width: em(280px);
    }

    &:nth-child(3) {
      width: em(260px);
    }

    &:nth-child(4) {
      width: em(240px);
    }
  }

  &__line {
    overflow: hidden;
    @include ifmobile {
      display: none;
    }
  }

  &__m-line {
    display: none;
    @include ifmobile {
      display: inline;
    }
  }

  &__title {
    $size: 26px;
    font-size: em($size);

    @include ifmobile {
      display: inline-block;
    }

    &_last {
      margin-bottom: em(30px, $size);

      @include ifmobile {
        margin-bottom: em(10px, $size);
      }
    }
  }

  &__text {
    line-height: 2;
    @include ifmobile {
      white-space: nowrap;
      & > div {
        display: inline-block;
      }
    }
  }
}