.contacts {
	background-color: $color-dark;

	@include ifmobile {
		padding-top: em(60px);
	}
	&__block {
		position: absolute;
		width: em(330px);
		height: 100%;
		top: 0;
		padding: 0 em(150px);
		z-index: 2;

		display: flex;
		flex-direction: column;
		justify-content: center;

		@include ifdesktop {
			pointer-events: none;
		}

		@include ifmobile {
			position: relative;
			width: auto;
			height: auto;
			top: 40%;
			padding: 0 em(20px);
		}
	}

	&__text {
		$size: 22px;
		@include ifmobile {
			$size: 18px;
		}
		font-size: em($size);
		color: $color-white;
		margin: em(20px, $size);
		display: block;
		text-decoration: none;
		overflow: hidden;
		@include ifdesktop {
			pointer-events: visible;
		}
	}
}