.main {
  
  &::before {
    content: '';
    display: block;
    position: absolute;
    width: 180%;
    height: 160%;
    top: -30%;
    background-color: $color-grey;
    transform: translateX(0) skew(-45deg);
    left: 50%;
    transition: transform .8s, opacity .6s;
  }

  /* &.up {
    transform: translateY(-120%);
  } */

  @include ifmobile {
    overflow: hidden;
    font-size: em(10px);
    padding-bottom: 25%;
    margin-top: -25%;
  }

  &__logo {
    position: absolute;
    @extend %dd-logo;
    left: 50%;
    top: 50%;
    margin: em(-140px) 0 0 em(-180px);
    transition: transform .6s 3.8s, opacity .6s 3.8s;
  }

  &__side {
    position: absolute;
    width: 100%;
    height: 100%;
    left: -50%;
    top: 0;
    transform: skew(-45deg);
    background-color: $color-white;
    overflow: hidden;
  }

  &__d {
    position: absolute;
    top: 50%;
    margin-top: em(-139px);
    width: em(244px);
    height: em(278px);
    transition: transform .5s 3.6s;

    &_left {
      right: 0;
      margin-right: em(-122px);
      transform: translate(em(20px), 0) skew(45deg);
      color: $color-pink;
    }

    &_right {
      left: 50%;
      margin-left: em(-122px);
      transform: translate(0, em(20px));
    }

    &-svg {
      position: absolute;
      top: 0;
      width: 100%;
      display: none;
    }

    &-text {
      $size: 320px;
      font-size: em($size);
      font-weight: bold;
      line-height: .72;
      margin-left: em(-75px, $size);
      margin-top: em(-35px, $size);
      padding: em(60px, $size);
      transition: opacity .5s .5s;
    }
  }

  &__text {
    $size: 38px;
    font-size: em($size);
    font-weight: bold;
    text-align: center;

    position: absolute;
    width: 100%;
    transition: color 1s;

    @include ifdesktop {
      bottom: em(140px, $size);
    }

    @include ifmobile {
      bottom: 15%;
      top: 70%;
    }

    &-row {
      @include ifmobile {
        display: block;
      }
    }
  }

  &__arrow {
    position: absolute;
    display: block;
    text-decoration: none;

    $size: 26px;
    font-size: em($size);
    left: em(40px, $size);
    color: $color-black;
    transition: transform .3s, opacity .3s;

    @include ifdesktop {
      bottom: em(18px, $size);
    }
    @include ifmobile {
      bottom: 12%;
    }

    &-common {
      transition: opacity .1s 4.3s;
      opacity: 1;
    }

    &-icon {
      position: absolute;
      bottom: 0;
      left: em(-4px, $size);
      padding-top: em(20px, $size);
      transition: opacity .1s 4.3s;
      opacity: 0;
    }

    &:hover {
      padding-top: em(10px, $size);
      transform: translateY(em(10px, $size));
    }
  }

  &__social {
    position: absolute;    

    @include ifdesktop {
      right: 0;
      bottom: em(2px);
    }

    @include ifmobile {
      right: em(20px);
      bottom: 11%;
    }
  }

  &__in {
    transition: opacity .3s;

    &-common {
      transition: opacity .1s 4.2s;
      opacity: 1;
    }

    &-icon {
      $size: 40px;
      font-size: em($size);
      position: absolute;
      top: 6%;
      right: 20%;
      transition: opacity .1s 4.2s;
      opacity: 0;

      @include ifmobile {
        right: 10%;
      }
    }
  }
}

.main.start {
  .main__logo {
    opacity: 0;
    transform: translateY(-20%);
  }

  .main__d_left {
    transform: translate(0, 0) skew(45deg);
  }

  .main__d_right {
    transform: translate(0, 0);
  }

  .main__d-text {
    opacity: 0;
  }

  .main__arrow {
    opacity: 0;
  }

  .main__arrow-common {
    opacity: 0;
  }

  .main__arrow-icon {
    opacity: 1;
  }

  .main__in {
    opacity: 0;
  }

  .main__in-common {
    opacity: 0;
  }

  .main__in-icon {
    opacity: 1;
  }

  &::before {
    transform: translateX(100%) skew(-45deg);
  }

  .main__text {
    color: #ffffff;
  }
}