.projects {
  background-color: $color-black;
  z-index: 3;

  @include ifmobile {
    margin-top: 1%;
  }

  &::before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 110%;
    top: -5%;
    background-color: $color-black;
    transform: skew(0, -2.2deg);
  }

  &__list {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition-property: transform, opacity, visibility;
    transition-duration: 0.5s;

    @include ifdesktop {
      position: absolute;
      @include ifparent('.hidden') {
        display: none;
      }
    }
    @include ifmobile {
      position: fixed;
    }

    &.hidden {
      transform: scale(0.9);
      opacity: 0;
      visibility: hidden;
    }
  }
  
  &__gallery {
    position: absolute;
    width: 100%;
    left: 0;
    top: 33%;
  }

  &__brands {
    position: absolute;
    left: 0;
    top: 80%;
    width: 100%;

    @include ifmobile {
      font-size: 0.8em;
    }

    transition: opacity 1s 1s;
    @include ifparent('.start') {
      opacity: 0;
    }
  }

  &__title {
    color: $color-white;
    &-row {
      @include ifmobile {
        display: block;
      }
    }
  }
}

.projects.start {
  .projects-gallery__item {
    transform: translateY(110%);
    @include ifmobile {
      transform: none;
    }
  }
}