.section {
  @include ifdesktop {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: $color-white;
    transition-property: transform;
    transition-duration: 1s;

    &.up {
      position: fixed;
      //transition-delay: .05s;
      transform: translateY(-110%);
    }

    &.down {
      position: fixed;
      //transition-delay: .05s;
      transform: translateY(110%);
    }

    &.hidden {
      display: none;
    }
  }

  @include ifmobile {
    position: relative;
    height: 100vh;
  }
}