.team {
  background-color: $color-white;
  z-index: 1;

  @include ifmobile {
    height: auto;
    padding: em(80px) 0 0 0;
  }

  &::before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 110%;
    top: -5%;
    background-color: $color-white;
    transform: skew(0, -2.2deg);
  }

  &__content {
    position: absolute;
    width: 100%;
    bottom: em(44px);
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0 em(150px);
    box-sizing: border-box;

    @include ifmobile {
      position: relative;
      flex-wrap: wrap;
      bottom: auto;
      top: 26%;
      height: 78%;
      padding: 0 em(20px) 0 em(40px);
    }
  }

  &__title {

    &-mobile {
      display: none;
    }

    @include ifmobile {
      &-mobile {
        display: block;
        text-align: right;
      }
      &-desktop {
        display: none;
      }
    }
  }
}