.team-item {
  $size: 14px;

  @include ifmobile {
    display: inline-block;
    font-size: em(11px);
    margin-bottom: em(40px);
  }

  position: relative;
  width: em(220px);
  height: em(520px);

  .text-animation {
    width: em(220px);
    overflow: hidden;
  }

  &__photo {
    position: relative;
    width: em(200px);
    height: em(200px);
    background-repeat: no-repeat;
    background-size: em(200px) em(200px);
    background-position: center bottom;

    &_distortion {
      position: absolute;
      bottom: 0;
      transition: height 3s;
      transition-timing-function: steps(60, end);
      overflow: hidden;

      &-image {
        position: absolute;
        bottom: 0;
      }

      &.hidden {
        height: 0;
      }
    }
  }

  &__post,
  &__clients {
    position: absolute;

    color: #7f7f7f;
    font-size: em($size);
  }

  &__name {
    margin-top: em(16px);
    margin-bottom: em(6px);
  }

  &__post {
    margin-bottom: em(6px, $size);
    top: em(242px, $size);
  }

  &__description {
    position: absolute;
    font-size: em($size);
    top: em(284px, $size);
  }

  &__clients {
    top: em(420px, $size);
  }

  &__clients-title {
    margin-bottom: em(6px, $size);
  }
}