.skill {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: $color-white;
  transition: transform .3s, visibility .3s, opacity .2s;
  transition-delay: 0.1s;

  @include ifmobile {
    position: fixed;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    z-index: 3;
  }

  &.hidden {
    transform: scale(1.1);
    opacity: 0;
    visibility: hidden;
    transition-delay: 0s;
  }

  &__side {
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;

    @include ifdesktop {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50%;

      transition-property: transform, visibility;
      transition-duration: 0.5s;
      &.hidden {
        z-index: 5;
        transform: translateX(-110%);
        visibility: hidden;
      }
    }

    @include ifmobile {
      width: 100%;
    }
  }

  &__content {
    position: relative;

    @include ifdesktop {
      width: em(390px);
    }

    @include ifmobile {
      margin-top: em(360px);
      padding: em(60px) em(40px) em(60px) em(60px);
      background: $color-white;
    }
  }

  &__title {

    margin-bottom: 1em;

    @include ifdesktop {
      font-size: em(26px);
    }

    @include ifmobile {
      font-size: em(21px);
    }
  }

  &__plate {
    position: absolute;
    background-color: $color-white;

    @include ifdesktop {
      width: 150%;
      height: 100%;
      left: -50%;
      top: 0;
    }

    @include ifmobile {
      width: 100%;
      height: 50%;
      left: 0;
      top: em(340px);
    }

    &_1 {
      @include ifdesktop {
        transform: skewX(12deg);
      }

      @include ifmobile {
        transform: skewY(-5deg);
      }
    }

    &_2 {
      @include ifdesktop {
        transform: skewX(6deg);
      }

      @include ifmobile {
        transform: skewY(5deg);
      }
    }

    &_3 {
      @include ifdesktop {
        transform: skewX(-8deg);
      }

      @include ifmobile {
        transform: skewY(-4deg);
      }
    }

    &_4 {
      @include ifdesktop {
        transform: skewX(9deg);
      }

      @include ifmobile {
        transform: skewY(-2deg);
      }
    }

    &_5 {
      @include ifdesktop {
        transform: skewX(-10deg);
      }

      @include ifmobile {
        transform: skewY(2deg);
      }
    }

    &_6 {
      @include ifdesktop {
        transform: skewX(7deg);
      }

      @include ifmobile {
        transform: skewY(5deg);
      }
    }

    &_7 {
      @include ifdesktop {
        transform: skewX(-1deg);
      }

      @include ifmobile {
        transform: skewY(-1deg);
      }
    }

    &_8 {
      @include ifdesktop {
        transform: skewX(-8deg);
      }

      @include ifmobile {
        transform: skewY(-2deg);
      }
    }

    &_9 {
      @include ifdesktop {
        transform: skewX(4deg);
      }

      @include ifmobile {
        transform: skewY(4deg);
      }
    }

    &_10 {
      @include ifdesktop {
        transform: skewX(-5deg);
      }

      @include ifmobile {
        transform: skewY(-5deg);
      }
    }

    &_11 {
      @include ifdesktop {
        transform: skewX(11deg);
      }

      @include ifmobile {
        transform: skewY(3deg);
      }
    }

    &_12 {
      @include ifdesktop {
        transform: skewX(-8deg);
      }

      @include ifmobile {
        transform: skewY(-5deg);
      }
    }

    &_13 {
      @include ifdesktop {
        transform: skewX(1deg);
      }

      @include ifmobile {
        transform: skewY(1deg);
      }
    }

    &_14 {
      @include ifdesktop {
        transform: skewX(-17deg);
      }

      @include ifmobile {
        transform: skewY(-5deg);
      }
    }
  }

  &__video {
    position: absolute;
    height: 100%;
    top: 0;
    right: 0;

    @include ifparent('.hidden') {
      display: none;
    }

    transition: opacity 0.5s;
    @include ifparent('.playback') {
      opacity: 0;
    }

    @include ifmobile {
      display: none;
    }
  }

  &__image {
    width: 100%;
    top: 0;
    left: 0;
    background-repeat: no-repeat;

    @include ifdesktop {
      position: absolute;
      height: 100%;
      background-size: auto 100%;
      background-position: right 0;
    }

    @include ifmobile {
      position: fixed;
      height: em(370px);
      background-size: 100%;
    }

    &.video {
      background-color: $color-black;
      display: block;

      @include ifparent('.playback') {
        height: 100%;
      }
    }

    &_1 {
      @include ifdesktop {
        background-image: url('../img/skills/1.jpg');
      }

      @include ifmobile {
        background-image: url('../img/skills/m-1.jpg');
      }
    }

    &_2 {
      @include ifdesktop {
        background-image: url('../img/skills/2.jpg');
      }

      @include ifmobile {
        background-image: url('../img/skills/m-2.jpg');
      }
    }

    &_3 {
      @include ifdesktop {
        background-image: url('../img/skills/3.jpg');
      }

      @include ifmobile {
        background-image: url('../img/skills/m-3.jpg');
      }
    }

    &_4 {
      /* @include ifdesktop {
        background-image: url('../img/skills/4.jpg');
      } */

      @include ifmobile {
        background-image: url('../img/skills/m-4.jpg');
      }
    }

    &_5 {
      @include ifdesktop {
        background-image: url('../img/skills/5.jpg');
      }

      @include ifmobile {
        background-image: url('../img/skills/m-5.jpg');
      }
    }

    &_6 {
      @include ifdesktop {
        background-image: url('../img/skills/6.jpg');
      }

      @include ifmobile {
        background-image: url('../img/skills/m-6.jpg');
      }
    }

    &_7 {
      @include ifdesktop {
        background-image: url('../img/skills/7.jpg');
      }

      @include ifmobile {
        background-image: url('../img/skills/m-7.jpg');
      }
    }

    &_8 {
      /* @include ifdesktop {
        background-image: url('../img/skills/8.jpg');
      } */

      @include ifmobile {
        background-image: url('../img/skills/m-8.jpg');
      }
    }

    &_9 {
      @include ifdesktop {
        background-image: url('../img/skills/9.jpg');
      }

      @include ifmobile {
        background-image: url('../img/skills/m-9.jpg');
      }
    }

    &_10 {
      @include ifdesktop {
        background-image: url('../img/skills/10.jpg');
      }

      @include ifmobile {
        background-image: url('../img/skills/m-10.jpg');
      }
    }

    &_11 {
      @include ifdesktop {
        background-image: url('../img/skills/11.jpg');
      }

      @include ifmobile {
        background-image: url('../img/skills/m-11.jpg');
      }
    }

    &_12 {
      @include ifdesktop {
        background-image: url('../img/skills/12.jpg');
      }

      @include ifmobile {
        background-image: url('../img/skills/m-12.jpg');
      }
    }

    &_13 {
      /*  @include ifdesktop {
        background-image: url('../img/skills/13.jpg');
      } */

      @include ifmobile {
        background-image: url('../img/skills/m-13.jpg');
      }
    }

    &_14 {
      @include ifdesktop {
        background-image: url('../img/skills/14.jpg');
      }

      @include ifmobile {
        background-image: url('../img/skills/m-14.jpg');
      }
    }
  }

  &__link,
  &__play {
    right: 0 !important;
    left: auto !important;
   
    @include ifmobile {
      height: em(350px);
    }
  }
}