.skills-item {
  display: block;
  position: relative;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
  color: $color-black;
  border-right: 1px dashed $color-black;
  border-bottom: 1px dashed $color-black;
  cursor: pointer;
  transition-property: color, background-color, transform, opacity;
  transition-duration: 0.2s;

  @include ifdesktop {
    width: 25%;
    height: em(127px);
    padding: em(15px);

    &:hover:not(.innactive) {
      color: $color-white;
      background-color: $color-black;

      &::after {
        transform: translateX(50%);
      }
    }

    &:nth-child(4n+4) {
      border-right: none;
    }

    &:nth-last-child(-n+4) {
      border-bottom: none;
    }
  }

  @include ifmobile {
    width: 50%;
    height: em(150px);
    padding: em(15px);
    &:nth-child(even) {
      border-right: none;
    }
    &:nth-child(odd) {
      padding-left: 0;
    }
    &:nth-last-child(-n+2) {
      border-bottom: none;
    }
  }

  &.zoom {
    transform: scale(2);
    opacity: 0;
    border: none;
  }

  &.innactive {
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: default;
  }

  &__title {
    @include ifdesktop {
      width: em(205px);
    }

    @include ifmobile {
      width: em(153px);
    }

    &::after {
      position: absolute;
      content: '→';
      display: inline-block;
      margin-left: em(4px);
      transition: transform 0.2s;
    }
  }

  &__icon {
    $size: 80px;
    font-size: em($size);
  }

  &__image {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    @extend %background-cover;
    opacity: 0;
    transition: opacity 0.2s;
    @include ifmobile {
      display: none;
    }
  }
}