.skills {
  @include ifmobile {
    height: auto;
    padding-top: em(150px);
  }

  &__title {
    @include ifmobile {
      $size: 40px;
      font-size: em($size);
    }
  }

  &__items {
    position: relative;
    display: flex;
    flex-wrap: wrap;

    @include ifdesktop {
      margin: em(220px) em(152px) 0;
      transition-property: opacity, transform;
      transition-duration: 1s;
      transition-delay: 0.5s;

      @include ifparent('.start') {
        transform: translateY(em(100px)) scale(0.8);
        opacity: 0;
      }
    }

    @include ifmobile {
      width: em(310px);
      margin: em(20px) auto em(60px);
    }
  }
}