<div id="approach" class="approach section start hidden" data-tint="light">
    <div class="title text-animation">Подход</div>

    <div class="approach__content">

        <div class="approach__item approach-item">
            <div class="approach-item__title approach-item__title_last text-animation">Анализируем</div>

            <div class="approach-item__text">
                <div class="text-animation">Изучаем продукт</div>
                <div class="approach-item__text approach-item__m-line text-animation">……………………………………………………</div>
            </div>
            <div class="approach-item__text">
                <div class="text-animation">Исследуем контекст</div>
                <div class="approach-item__text approach-item__m-line text-animation">……………………………………………………</div>
            </div>
            <div class="approach-item__text">
                <div class="text-animation">Определяем проблему</div>
                <div class="approach-item__text approach-item__m-line text-animation">……………………………………………………</div>
            </div>
            <div class="approach-item__text approach-item__line text-animation">……………………………………………………</div>
            <div class="approach-item__text approach-item__line text-animation">……………………………………………………</div>
            <div class="approach-item__text approach-item__line text-animation">……………………………………………………</div>
            <div class="approach-item__text approach-item__line text-animation">……………………………………………………</div>
            <div class="approach-item__text approach-item__line text-animation">……………………………………………………</div>
            <div class="approach-item__text approach-item__line text-animation">……………………………………………………</div>
            <div class="approach-item__text approach-item__line text-animation">……………………………………………………</div>
        </div>

        <div class="approach__item approach-item">
            <div class="approach-item__title text-animation">Создаем</div>
            <div class="approach-item__title approach-item__title_last text-animation">концепцию</div>

            <div class="approach-item__text">
                <div class="text-animation">Формулируем гипотезы</div>
                <div class="approach-item__text approach-item__m-line text-animation">……………………………………………………</div>
            </div>
            <div class="approach-item__text">
                <div class="text-animation">Определяем стратегию</div>
                <div class="approach-item__text approach-item__m-line text-animation">……………………………………………………</div>
            </div>
            <div class="approach-item__text">
                <div class="text-animation">Разрабатываем сценарии</div>
                <div class="approach-item__text approach-item__m-line text-animation">……………………………………………………</div>
            </div>
            <div class="approach-item__text approach-item__line text-animation">……………………………………………………</div>
            <div class="approach-item__text approach-item__line text-animation">……………………………………………………</div>
            <div class="approach-item__text approach-item__line text-animation">……………………………………………………</div>
            <div class="approach-item__text approach-item__line text-animation">……………………………………………………</div>
            <div class="approach-item__text approach-item__line text-animation">……………………………………………………</div>
        </div>

        <div class="approach__item approach-item">
            <div class="approach-item__title text-animation">Воплощаем</div>
            <div class="approach-item__title approach-item__title_last text-animation">идеи</div>

            <div class="approach-item__text">
                <div class="text-animation">Конструируем процессы</div>
                <div class="approach-item__text approach-item__m-line text-animation">……………………………………………………</div>
            </div>
            <div class="approach-item__text">
                <div class="text-animation">Разрабатываем прототипы</div>
                <div class="approach-item__text approach-item__m-line text-animation">……………………………………………………</div>
            </div>
            <div class="approach-item__text">
                <div class="text-animation">Создаем дизайн</div>
                <div class="approach-item__text approach-item__m-line text-animation">……………………………………………………</div>
            </div>
            <div class="approach-item__text approach-item__line text-animation">……………………………………………………</div>
            <div class="approach-item__text approach-item__line text-animation">……………………………………………………</div>
            <div class="approach-item__text approach-item__line text-animation">……………………………………………………</div>
        </div>

        <div class="approach__item approach-item">
            <div class="approach-item__title text-animation">Внедряем</div>
            <div class="approach-item__title approach-item__title_last text-animation">и следим</div>

            <div class="approach-item__text text-animation">Реализуем проект</div>
            <div class="approach-item__text text-animation">Осуществляем надзор</div>
            <div class="approach-item__text text-animation">Мониторим результаты</div>
        </div>
    </div>
</div>