<div id="contacts" class="contacts section start hidden" data-tint="dark">
    <div id="map" class="map"></div>
    <div class="contacts__block">
        <div class="contacts__text">
            <div class="text-animation">Москва, ул. Рочдельская,</div>
            <div class="text-animation">д. 15, строение 23</div>
        </div>
        <a class="contacts__text text-animation" href="tel:+7(495)139-28-30">+7 495 139-28-30</a>
        <a class="contacts__text text-animation" href="mailto:hello@dnd.team">hello@dnd.team</a>
    </div>

    <div class="footer">
        <div class="footer__text">© <script>document.write(new Date().getFullYear())</script> Dreamers & Doers</div>
        <div class="footer__social social">
            <a class="social__item footer__social-item" href="https://www.instagram.com/dndteam/" target="_blank">Instagram</a>
        </div>
    </div>
</div>