<div id="projects" class="projects section start hidden" data-tint="dark">
    <div class="title projects__title">
        <span class="projects__title-row text-animation">Клиенты </span>
        <span class="projects__title-row text-animation">и кейсы</span>
    </div>

    <div class="projects__gallery projects-gallery start">
        <div class="projects-gallery__items">
            <a class="projects-gallery__item" href="uaz-profi" style="background-image: url(assets/img/projects/uaz-profi/preview.jpg)">
                <div class="projects-gallery__title">Запуск новой модели УАЗ Профи</div>
            </a>
            <a class="projects-gallery__item" href="two-legends" style="background-image: url(assets/img/projects/two-legends/preview.jpg)">
                <div class="projects-gallery__title">Креативная стратегия «Две&nbsp;легенды.
                    Один&nbsp;характер»</div>
            </a>
            <a class="projects-gallery__item" href="influence-marketing" style="background-image: url(assets/img/projects/influence-marketing/preview.jpg)">
                <div class="projects-gallery__title">Стратегия Influence-маркетинга</div>
            </a>
            <a class="projects-gallery__item" href="wargaming" style="background-image: url(assets/img/projects/wargaming/preview.jpg)">
                <div class="projects-gallery__title">Партнерский проект с&nbsp;«Wargaming»</div>
            </a>
            <a class="projects-gallery__item" href="brand-platform" style="background-image: url(assets/img/projects/brand-platform/preview.jpg)">
                <div class="projects-gallery__title">Видео-контент платформа бренда</div>
            </a>
            <a class="projects-gallery__item" href="uaz-global" style="background-image: url(assets/img/projects/uaz-global/preview.jpg)">
                <div class="projects-gallery__title">Коммуникационная поддержка бренда на глобальном рынке</div>
            </a>
            <a class="projects-gallery__item" href="strategy" style="background-image: url(assets/img/projects/strategy/preview.jpg)">
                <div class="projects-gallery__title">Стратегии experience-маркетинга для «УАЗ»</div>
            </a>
            <a class="projects-gallery__item" href="btl" style="background-image: url(assets/img/projects/btl/preview.jpg)">
                <div class="projects-gallery__title">BTL поддержка запуска нового продукта</div>
            </a>
        </div>
    </div>

    <div class="projects__brands projects-brands start">
        <div class="projects-brands__items">
            <img class="projects-brands__logo projects-brands__logo_uaz" src="assets/svg/brands/uaz.svg" alt="УАЗ"/>
            <img class="projects-brands__logo projects-brands__logo_sollers" src="assets/img/brands/sollers.png" alt="Sollers"/>
            <img class="projects-brands__logo projects-brands__logo_ssangyong" src="assets/svg/brands/ssangyong.svg" alt="SSANGYONG"/>
            <img class="projects-brands__logo projects-brands__logo_suzuki" src="assets/svg/brands/suzuki.svg" alt="SUZUKI"/>
            <img class="projects-brands__logo projects-brands__logo_ds" src="assets/svg/brands/ds.svg" alt="DS"/>
            <img class="projects-brands__logo projects-brands__logo_citroen" src="assets/svg/brands/citroen.svg" alt="CITROËN"/>
            <img class="projects-brands__logo projects-brands__logo_peugeot" src="assets/svg/brands/peugeot.svg" alt="PEUGEOT"/>
            <img class="projects-brands__logo projects-brands__logo_opel" src="assets/svg/brands/opel.svg" alt="OPEL"/>
            <img class="projects-brands__logo projects-brands__logo_vtb" src="assets/img/brands/vtb.png" alt="VTB UNITED LEAGUE"/>
            <img class="projects-brands__logo projects-brands__logo_mts" src="assets/svg/brands/mts.svg" alt="МТС"/>
        </div>
    </div>
    
    <div class="projects__list hidden">