<div id="skills" class="skills section start hidden" data-tint="light">
	<div class="title skills__title text-animation">Что мы умеем</div>

	<div class="skills__items">
		<a class="skills-item" href="#skill-1">
			<div class="skills-item__title">
				Предлагаем комплексный PR для больших брендов
			</div>
			<div class="skills-item__image" style="background-image: url(assets/img/skills/p-1.jpg)"></div>
		</a>
		<div class="skills-item innactive">
			<div class="skills-item__icon">
				🚙
			</div>
		</div>
		<a class="skills-item" href="#skill-2">
			<div class="skills-item__title">
				Строим собственные медиа для брендов
			</div>
			<div class="skills-item__image" style="background-image: url(assets/img/skills/p-2.jpg)"></div>
		</a>
		<a class="skills-item" href="#skill-3">
			<div class="skills-item__title">
				Создаем неожиданные инфоповоды
			</div>
			<div class="skills-item__image" style="background-image: url(assets/img/skills/p-3.jpg)"></div>
		</a>
		<div class="skills-item innactive">
			<div class="skills-item__icon">
				🎥
			</div>
		</div>
		<a class="skills-item" href="#skill-4">
			<div class="skills-item__title">
				Делаем презентации в&nbsp;прямом эфире
			</div>
			<div class="skills-item__image" style="background-image: url(assets/img/skills/p-4.jpg)"></div>
		</a>
		<a class="skills-item" href="#skill-5">
			<div class="skills-item__title">
				Обеспечиваем запуск новых моделей
			</div>
			<div class="skills-item__image" style="background-image: url(assets/img/skills/p-5.jpg)"></div>
		</a>
		<a class="skills-item" href="#skill-6">
			<div class="skills-item__title">
				Умеем делать дизайн с&nbsp;душой
			</div>
			<div class="skills-item__image" style="background-image: url(assets/img/skills/p-6.jpg)"></div>
		</a>
		<a class="skills-item" href="#skill-7">
			<div class="skills-item__title">
				Дружим с автомобильными блогерами
			</div>
			<div class="skills-item__image" style="background-image: url(assets/img/skills/p-7.jpg)"></div>
		</a>
		<a class="skills-item" href="#skill-8">
			<div class="skills-item__title">
				Создаем контент платформы
			</div>
			<div class="skills-item__image" style="background-image: url(assets/img/skills/p-8.jpg)"></div>
		</a>
		<div class="skills-item innactive">
			<div class="skills-item__icon">
				Ω
			</div>
		</div>
		<a class="skills-item" href="#skill-9">
			<div class="skills-item__title">
				Превращаем клиентов в&nbsp;амбассадоров
			</div>
			<div class="skills-item__image" style="background-image: url(assets/img/skills/p-9.jpg)"></div>
		</a>
		<a class="skills-item" href="#skill-10">
			<div class="skills-item__title">
				Умеем вызывать эмоции и&nbsp;создавать впечатления
			</div>
			<div class="skills-item__image" style="background-image: url(assets/img/skills/p-10.jpg)"></div>
		</a>
		<div class="skills-item innactive">
			<div class="skills-item__icon">
				🍩
			</div>
		</div>
		<a class="skills-item" href="#skill-11">
			<div class="skills-item__title">
				Открываем Россию для экспертов
			</div>
			<div class="skills-item__image" style="background-image: url(assets/img/skills/p-11.jpg)"></div>
		</a>
		<a class="skills-item" href="#skill-12">
			<div class="skills-item__title">
				Снимаем крутую автомобильную рекламу
			</div>
			<div class="skills-item__image" style="background-image: url(assets/img/skills/p-12.jpg)"></div>
		</a>
		<div class="skills-item innactive">
			<div class="skills-item__icon">
				Ø
			</div>
		</div>
		<a class="skills-item" href="#skill-13">
			<div class="skills-item__title">
				Устраиваем из выставок настоящее шоу
			</div>
			<div class="skills-item__image" style="background-image: url(assets/img/skills/p-13.jpg)"></div>
		</a>
		<a class="skills-item" href="#skill-14">
			<div class="skills-item__title">
				Умеем дружить и&nbsp;делать партнерства
			</div>
			<div class="skills-item__image" style="background-image: url(assets/img/skills/p-14.jpg)"></div>
		</a>
		<div class="skills-item innactive">
			<div class="skills-item__icon">
				🏀
			</div>
		</div>
	</div>
	<div class="area w100 close invert skills__close hidden"></div>