<div id="team" class="team section start hidden" data-tint="light">
    <div class="title team__title team__title-desktop">
        <div class="text-animation">Команда мечтателей</div>
        <div class="text-animation">и практиков</div>
    </div>

    <div class="title team__title team__title-mobile text-animation">Команда</div>

    <div class="team__content">
        <div class="team__item team-item">
            <div class="team-item__photo" style="background-image: url(assets/img/team/m1.jpg)">
                <div class="team-item__photo team-item__photo_distortion">
                    <div class="team-item__photo team-item__photo_distortion-image" style="background-image: url(assets/img/team/dm1.jpg)"></div>
                </div>
            </div>
            <div class="team-item__name text-animation">
                Артём Донец
            </div>
            <div class="team-item__post text-animation">
                Генеральный директор
            </div>
            <div class="team-item__description">
                <div class="text-animation">В рекламном бизнесе</div>
                <div class="text-animation">с&nbsp;1994 года.</div>
                <div class="text-animation">Опыт работы в&nbsp;крупных</div>
                <div class="text-animation">международных и </div>
                <div class="text-animation">локальных агентствах.</div>
            </div>
            <div class="team-item__clients">
                <div class="team-item__clients-title text-animation">Клиенты</div>
                <div class="team-item__clients-text">
                    <div class="text-animation">Samsung Electronics /</div>
                    <div class="text-animation">Adidas group / Kimberly Clark</div>
                    <div class="text-animation">/ L’Oreal / Bacardi Martini</div>
                </div>
            </div>
        </div>

        <div class="team__item team-item">
            <div class="team-item__photo" style="background-image: url(assets/img/team/m3.jpg)">
                <div class="team-item__photo team-item__photo_distortion">
                    <div class="team-item__photo team-item__photo_distortion-image" style="background-image: url(assets/img/team/dm3.jpg)"></div>
                </div>
            </div>
            <div class="team-item__name text-animation">
                Алексей Дмитриев
            </div>
            <div class="team-item__post">
                <div class="text-animation">Руководитель практики</div>
                <div class="text-animation">сторителлинга</div>
            </div>

            <div class="team-item__description">
                <div class="text-animation">В журналистике с 2008 года.</div>
                <div class="text-animation">Работал обозревателем,</div>
                <div class="text-animation">редактором и выпускающим</div>
                <div class="text-animation">редактором в таких СМИ,</div>
                <div class="text-animation">как ВГТРК, "Клаксон",</div>
                <div class="text-animation">Rambler&Co.</div>
                <div class="text-animation">Имеет большой опыт</div>
                <div class="text-animation">сотрудничества с Mail.ru,</div>
                <div class="text-animation">РБК и другими</div>
                <div class="text-animation">медиахолдингами.</div>
            </div>
        </div>

        <div class="team__item team-item">
            <div class="team-item__photo" style="background-image: url(assets/img/team/m2.jpg)">
                <div class="team-item__photo team-item__photo_distortion">
                    <div class="team-item__photo team-item__photo_distortion-image" style="background-image: url(assets/img/team/dm2.jpg)"></div>
                </div>
            </div>
            <div class="team-item__name text-animation">
                Кристина Баринова
            </div>
            <div class="team-item__post text-animation">
                Директор по работе с&nbsp;ключевыми клиентами
            </div>
            <div class="team-item__description">
                <div class="text-animation">В&nbsp;рекламе&nbsp;и&nbsp;маркетинге&nbsp;с&nbsp;2005.</div>
                <div class="text-animation">Опыт работы в&nbsp;российский</div>
                <div class="text-animation">и международных агентствах,</div>
                <div class="text-animation">международные проекты.</div>
            </div>
            <div class="team-item__clients">
                <div class="team-item__clients-title text-animation">Клиенты и проекты</div>
                <div class="team-item__clients-text">
                    <div class="text-animation">Bayer, Jadran,</div>
                    <div class="text-animation">Россконгресс,</div>
                    <div class="text-animation">Adidas group,</div>
                    <div class="text-animation">Be Open Foundation</div>
                </div>
            </div>
        </div>

        <div class="team__item team-item">
            <div class="team-item__photo" style="background-image: url(assets/img/team/m5.jpg)">
                <div class="team-item__photo team-item__photo_distortion">
                    <div class="team-item__photo team-item__photo_distortion-image" style="background-image: url(assets/img/team/dm5.jpg)"></div>
                </div>
            </div>
            <div class="team-item__name text-animation">
                Елизавета Сурконт
            </div>
            <div class="team-item__post">
                <div class="text-animation">Медиадиректор</div>
            </div>
            
            <div class="team-item__description">
                <div class="text-animation">В медиа бизнесе с 2003 года.</div>
                <div class="text-animation">Опыт работы в крупных</div>
                <div class="text-animation">международных агентствах</div>
                <div class="text-animation">и на стороне крупных</div>
                <div class="text-animation">локальных клиентов.</div>
            </div>

            <div class="team-item__clients">
                <div class="team-item__clients-title text-animation">Клиенты и проекты</div>
                <div class="team-item__clients-text">
                    <div class="text-animation">General Motors / JTI /</div>
                    <div class="text-animation">Johnson&Johnson / NESTLE /</div>
                    <div class="text-animation">МТС / Росконгресс</div>
                </div>
            </div>
        </div>
    </div>
</div>